.signup-form {
  padding-top: 30px;
  padding-bottom: 30px;
  .card-body {
    max-width: 725px;
    padding: 30px 20px;
  }
}
.login-social {
  ul.d-flex {
    justify-content: center;
    li {
      span {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        // border: 1px solid #808080;
        // background: #808080;
        color: #fff;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        margin: 0 10px;
        transition: 0.3s;
        &:hover {
          border: 1px solid #808080;
          background: #808080;
        }
      }
      .fb-icon {
        background: #3e559a;
        border: 1px solid #3e559a;
      }
      .insta-icon {
        background: #9c27b0;
        border: 1px solid #9c27b0;
      }
      .google-icon {
        background: #dd4b39;
        border: 1px solid #dd4b39;
      }
    }
  }
}
.input-group .form-group {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .signup-form {
    padding-top: 25px;
    padding-bottom: 0px;
  }
}

.user-page.container {
  margin-top: 80px;
}
tabs .nav-link.active {
  background-color: #f1f1f1;
}

.signup-form .user-btn {
  float: right;
}