@import "./variable";

@for $i from 0 through 12 {
    .mr-#{$i} {
        margin-right: $i * 0.25rem;
    }

    .ml-#{$i} {
        margin-left: $i * 0.25rem;
    }

    .ml-n#{$i} {
        margin-left: $i * -0.25rem;
    }

    .mr-n#{$i} {
        margin-right: $i * -0.25rem;
    }

    .pr-#{$i} {
        padding-right: $i * 0.25rem;
    }

    .pl-#{$i} {
        padding-left: $i * 0.25rem;
    }

    .col-md-#{$i} {
        flex: 0 0 $i * 8.33%;
        width: $i * 8.33%;
    }

    .mt#{$i} {
        margin-top: #{$i}px;
    }

    .mr#{$i} {
        margin-right: #{$i}px;
    }
}


//GENERATE THE WIDTH FOR LAYOUT AND CUSTOM ELEMENTS
$base: 20px;
$max: 150;

@for $i from 0 through $max {
    $width: $i * $base;
    $customWidth: $i * 2px;

    .layout-width-#{$width} {
        width: $width;
    }

    .layout-max-width-#{$width} {
        max-width: $width;
    }

    .layout-min-width-#{$width} {
        min-width: $width;
    }

    .layout-min-height-#{$width} {
        min-height: $width;
    }

    .custom-width-#{$customWidth} {
        width: $customWidth;
    }

    .custom-max-width-#{$customWidth} {
        max-width: $customWidth;
    }

    .custom-min-width-#{$customWidth} {
        min-width: $customWidth;
    }

    .custom-min-height-#{$customWidth} {
        min-height: $customWidth;
    }
}

.colorWhite {
    background-color: #fff;
}

.rfq-part-list {
    @function calculateRowId($i) {
        @return ($i * 5) - 1;
    }

    @mixin applyBorderBottom($j) {

        [col-id="PartNumber"],
        [aria-colindex="#{$j}"] {
            border-bottom: 1px solid $agGridBorder !important;
        }
    }

    @for $i from 1 through 50 {
        [row-id~="#{calculateRowId($i)}"] {
            @each $j in 0 through 11 {
                @include applyBorderBottom($j);
            }
        }
    }
}