@import "./variable";


@function calculatePixels($iterate, $value) {
    $cal : $iterate * $value !important;
    @return $cal;
}

@for $i from 0 through 12 {

    .mr-#{$i} {
        margin-right: calculatePixels($i, 0.25rem);
    }

    .ml-#{$i} {
        margin-left: calculatePixels($i, 0.25rem);
    }

    .ml-n#{$i} {
        margin-left: calculatePixels($i, -0.25rem)
    }

    .mr-n#{$i} {
        margin-right: calculatePixels($i, -0.25rem)
    }

    .mb-n#{$i} {
        margin-bottom: calculatePixels($i, -0.25rem)
    }

    .mt-n#{$i} {
        margin-top: calculatePixels($i, -0.25rem)
    }

    .pr-#{$i} {
        padding-right: calculatePixels($i, 0.25rem);
    }

    .pl-#{$i} {
        padding-left: calculatePixels($i, 0.25rem);
    }

    .col-md-#{$i} {
        flex: 0 0 calculatePixels($i, 8.33%);
        width: calculatePixels($i, 8.33%);
    }

    .mt#{$i} {
        margin-top: #{$i}px !important;
    }

    .mr#{$i} {
        margin-right: #{$i}px !important;
    }
}


//GENERATE THE WIDTH FOR LAYOUT AND CUSTOM ELEMENTS
$base: 20px;
$max: 150;

@for $i from 0 through $max {
    $max20Value: $i * $base !important;
    $max2Value: $i * 2px !important;

    .layout-width-#{$max20Value} {
        width: $max20Value;
    }

    .layout-max-width-#{$max20Value} {
        max-width: $max20Value;
    }

    .layout-min-width-#{$max20Value} {
        min-width: $max20Value;
    }

    .layout-min-height-#{$max20Value} {
        min-height: $max20Value;
    }

    .custom-width-#{$max2Value} {
        width: $max2Value;
    }

    .custom-max-width-#{$max2Value} {
        max-width: $max2Value;
    }

    .custom-min-width-#{$max2Value} {
        min-width: $max2Value;
    }

    .custom-min-height-#{$max2Value} {
        min-height: $max2Value;
    }

    .custom-height-#{$max2Value} {
        height: $max2Value;
    }


    .font-size-#{$i} {
        font-size: $i * 1px;
    }
}

.colorWhite {
    background-color: #fff;
}

.rfq-part-list {
    @function calculateRowId($i) {
        @return ($i * 5) - 1;
    }

    @for $i from 1 through 50 {
        [row-id~="#{calculateRowId($i)}"] {
            @for $j from 0 through 11 {

                [col-id="PartNumber"],
                [aria-colindex="#{$j}"] {
                    border-bottom: 1px solid $agGridBorder !important;
                }
            }
        }
    }
}

%disabled {
    opacity: 0.4;
    background-color: transparent !important;
    border: none !important;
}

%focus {
    box-shadow: none !important;
    border-color: transparent !important;
}