@import "../../assests/scss/abstracts/variable";
$input-form-group-width: 100%;

.input-form-group {
    width: $input-form-group-width;
}

// Common input style
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"].form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body {

    .inputbox {
        border-bottom: #A8B6C1 1px solid;
        padding-bottom: 1px;
    }
}

form {
    .input-group-prepend .fas {
        color: #86929F;
    }
}

.btn-primary {

    &.btn-primary:not(:disabled):not(.disabled).active:focus,
    &.btn-primary:not(:disabled):not(.disabled):active:focus,
    &.show>.dropdown-toggle:focus {
        box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.3);
        background-color: #353535;
        border-color: #353535;
    }
}

.sf-btn-footer {
    margin: 0 -15px -15px;
}

.text-help {
    font-size: 12px;
    color: #dc3545;
    height: 1em;
    margin: 2px 0;
}

.disabled-control {
    padding-left: 3px !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.view-btn {
    background-color: transparent;
    color: $colorPrimary;
    border: 0px solid transparent;
    font-weight: 500;

    &:focus {
        border: none !important;
        box-shadow: none !important;
    }
}

.approval-container {
    position: relative;
    @extend .view-btn;

    .view-btn {
        position: absolute;
        right: 3px;
        top: 6px;
    }
}

.view-all-list {
    li {
        color: #000;
        font-weight: 400;
        font-size: 14px;
    }
}
.all-approval {
    min-height: auto !important;
}