.display {
    width: 100%;
    display: flex;
    flex-flow: column;
    -ms-flex-flow: column;
    justify-content: space-between;
    padding: 15px 15px 0 15px;
    background-color: #fff;
    flex-grow: 1;
  }
  
  .display-formula,
  .display-input {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    text-align: right;
    background-color: inherit;
  }
  
  .display-formula {
    flex-grow: 1;
    font-size: 2rem;
  }
  
  .display-input {
    flex-shrink: 0;
    font-size: 1.75rem;
    color: #888;
    white-space: nowrap;
    padding-bottom: 15px;
  }
  
  /* Toolbar */
  
  .toolbar {
    background-color: #fff;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    padding: 10px 15px;
    color: #256bd1;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.25rem;
    flex-shrink: 0;
  }
  
  .toolbar-item:hover {
    cursor: pointer;
    color: #256bd1;
  }
  
  #view-history {
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
  }
  
