.contact-image{
    justify-content: center;
    margin-bottom: 20px;
    img{
        width: 150px;
        margin: 0 auto;
    }
    h5{
        color: #000;
         margin: 0;
        font-weight: 600
    }
}
.contact-form{
.card-body.shadow-lg.login-form{
    max-width: 700px;
}
.form-heading{
    margin-bottom: 0;
}

}
.aboutus-section{
    h3{
        margin-bottom: 0;
    }
}
@media(max-width:767px){
    .contact-form{
       
        .login-btn {
            font-size: 1rem;}
        }
}