@import "cssVariable.scss";

.costing-raw-material-section {
  th,
  td {
    // text-align: center;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    &:first-child {
      text-align: left;
    }
  }
  .form-group {
    input {
      padding: 6px !important;
      max-width: 86px;
      max-height: calc(38px * 80 / 100);
    }
    .text-help {
      bottom: -8px;
      font-size: calc(0.875rem * 80 / 100);
    }
  }
  .weight-calculator {
    text-align: center;
    width: 135px;
  }
  .rm-table-header {
    th {
      &:nth-child(2) {
        width: 8%;
      }
      &:nth-child(3) {
        width: 8%;
      }
      &:nth-child(4) {
        width: 10%;
      }
      &:nth-child(5) {
        width: 9%;
      }
      &:nth-child(6) {
        width: 9%;
      }
      &:nth-child(7) {
        width: 9%;
      }
      &:nth-child(8) {
        width: 9%;
      }
      &:nth-child(9) {
        width: 9%;
      }
      &:nth-child(10) {
        width: 9%;
      }
      &:last-child {
        width: 8%;
        min-width: 88px;
      }
      &.weight-calculator {
        width: 9%;
        min-width: 130px;
      }
      &.scrap-recovery {
        width: 11%;
        min-width: 136px;
      }
    }
  }
//   .gross-weight,
//   .finish-weight {
//     text-align: center;
//   }
  //
}
.costing-process-cost-section {
  @extend .costing-raw-material-section;
  .form-group {
    .text-help {
      white-space: nowrap;
      bottom: -12px;
    }
    .error-overflow {
      white-space: nowrap;
    }
    .text-error-title {
      .text-help {
        bottom: -25px !important;
        max-width: calc(100% + 2rem);
      }
    }
  }
}
.costing-operation-cost-section {
  @extend .costing-raw-material-section;
  .header-without-labour-rate {
    th {
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        width: 15%;
      }
      &:nth-child(6) {
        width: 11%;
      }
      &:nth-child(7) {
        width: 7%;
        min-width: 130px;
      }
    }
  }
  .header-with-labour-rate {
    th {
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7) {
        width: 11%;
      }
      &:nth-child(8) {
        width: 8%;
      }
      &:nth-child(9) {
        width: 7%;
        min-width: 100px;
      }
    }
  }
}
.costing-bop-cost-section {
  @extend .costing-raw-material-section;
  .table-header {
    th {
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        width: 15%;
      }
      &:nth-child(6) {
        width: 11%;
      }
      &:nth-child(7) {
        text-align: right;
        width: 7%;
        min-width: 130px;
      }
    }
  }
}
.handling-charge {
  align-items: center;
  min-height: 85px;
  .text-help {
    position: absolute;
  }
}
.costing-surface-section {
  @extend .costing-raw-material-section;
}
@media screen and (min-width: $middleDesktop) {
  .costing-main-container {
    .rmcc-main-headings {
      .costing-raw-material-section {
        td,
        th {
          padding-top: 15px !important;
          padding-bottom: 15px !important;
        }
        .form-group {
          .text-help {
            font-size: calc(1rem * 80 / 100);
            bottom: -9px;
          }
        }
        .weight-calculator {
          width: 155px;
        }
      }
    }
    .costing-process-cost-section {
      .form-group {
        .text-help {
          bottom: -11px !important;
        }
        .error-overflow {
          white-space: nowrap;
        }
        .text-error-title {
          .text-help {
            white-space: nowrap;
            bottom: -27px !important;
            max-width: calc(100% + 2rem);
          }
        }
      }
    }
  }
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  grid-gap: 4px;
  .secondary-btn {
    color: #3d4465;
    font-weight: 600;
    .CalculatorIcon {
      width: 14px;
      height: 16px;
      margin-right: 5px;
      margin-top: 5px;
    }
    &:hover {
      color: #fff;
    }
  }
}
