// @import "/iconstyle.css";

$colorPrimary: #256bd1;
$colorSecondary: #000;
$lightBack: #120e0e;
$white: #ffffff;
$btnLarge: 80%;
$btnSmall: 25%;
$btnRadius-Five: 5px;
$btnRadius-Ten: 10px;
$customPrimary-Hover: #1834b3;
$w-50: 50%;
$w-25: 25%;
$font-regular: 400;
$font-light: 300;
$font-bold: 700;
$font-semibold: 600;
$fontr-large: 2rem;
$font-medium: 1.5rem;
$font-small: 1rem;
$text-hover: #1b3bc9;
$transition: 0.3s;
$flex: flex;
$bordercolor: #a8b6c1;

$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-17: 17px;

$positio-relative: relative;
$positio-absolute: absolute;
