@import "./cssVariable.scss";
@import "./style.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,400&display=swap");

body {
  font-family: "Roboto", sans-serif !important;
  position: relative;
}
body a {
  color: $colorPrimary;
}
body a:hover {
  color: $headinlightgblack;
}
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  list-style: none;
  margin: 0;
  padding: 0;
}
button:focus {
  outline: 0;
}
a,
button {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  color: $text-hover;
}

:focus {
  outline: 0;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  text-align: left;
  font-size: $font-16;
  letter-spacing: 0px;
  color: #ff6600;
  text-transform: capitalize;
  opacity: 1;
}
::-moz-placeholder {
  /* Firefox 19+ */
  text-align: left;
  font-size: $font-16;
  letter-spacing: 0px;
  color: #a4abc5;
  text-transform: capitalize;
  opacity: 1;
}
:-ms-input-placeholder {
  /* IE 10+ */
  text-align: left;
  font-size: $font-16;
  letter-spacing: 0px;
  color: #a4abc5;
  text-transform: capitalize;
  opacity: 1;
}
:-moz-placeholder {
  /* Firefox 18- */
  text-align: left;
  font-size: $font-16;
  letter-spacing: 0px;
  color: #a4abc5;
  text-transform: capitalize;
  opacity: 1;
}
.btn-primary {
  padding: 0.5rem 1rem;
  background: #256bd1 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 10px #0000000f;
  border-radius: 4px;
  opacity: 1;
  border: none;
  cursor: pointer;
  font-size: $font-14;
  text-decoration: none;
  color: $white;
  text-transform: uppercase;
}
.btn-primary,
.apply,
.save-btn,
.btn-secondary,
.add-button-big {
  &:hover,
  &:focus,
  &:not(.disabled):active:focus {
    background-color: #1d59af;
  }
}
img {
  max-width: 100%;
}

.mt-ten {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-twenty {
  margin-top: 20px;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.pt-twenty {
  padding-bottom: 20px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mb-30 {
  margin-bottom: 30px;
}
.pt-5 {
  padding-top: 3rem !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pt-20 {
  padding-top: 20px;
}
.pt-30 {
  padding-top: 30px;
}
.mt-4 {
  margin-top: 1.5rem !important;
}

.m-t0 {
  margin-top: 0 !important;
}

.m-b0 {
  margin-bottom: 0 !important;
}

.h-spacebw {
  justify-content: space-between;
}

.mt-150 {
  margin-top: 150px;
}

p {
  margin-bottom: 0;
}

.borderradius-0 {
  border-radius: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

.border-bottom {
  border-bottom: 1px solid #ccc;
}

.withoutBorder {
  border: none;
}

.text-border {
  border-bottom: 1px solid #000;
  width: fit-content;
}

.asterisk-required {
  color: red;
}

.w100 {
  width: 100%;
}

.yellow-color {
  color: $colorPrimary;

  &:hover {
    color: #dbac08;
  }
}

.justify-content {
  justify-content: center;
}

.form-control {
  font-size: 1rem;
}

.font-sizerem {
  font-size: 1.2rem;
}

.btn-secondary.focus,
.btn-secondary:focus {
  box-shadow: none;
}

.textarea-height {
  textarea {
    min-height: 90px;
  }
}

.semi-bold {
  font-weight: 600;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #000;
  outline: 0;
  box-shadow: none;
}

.custom-select:focus {
  border-color: #000;
  outline: 0;
  box-shadow: none;
}

.custom-select {
  background-image: url("../../assests/images/down-arrow2.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 0.75rem;

  option {
    padding: 0 10px;
  }
}

.basic-multi-select {
  .css-2o5izw {
    box-shadow: none;
  }

  div {
    border: 0px;
  }
}

.lightGreybtn {
  background-color: #858a8e;
  border-color: #7f8386;
}

.dark-pinkbtn {
  background: $colorPrimary;
  color: #fff;
  border-color: #f6c30f;
  text-transform: uppercase;

  &:hover {
    background: $customPrimary-Hover;
    border-color: $customPrimary-Hover;
    color: #fff;
  }

  .active {
    background: $customPrimary-Hover;
    border-color: $customPrimary-Hover;
  }
}

.dark-pinkbtn.active {
  background: $customPrimary-Hover;
  border-color: $customPrimary-Hover;
}

.dark-pinkbtn.btn-secondary {
  background: $colorPrimary;
  color: #fff;
  border-color: #f6c30f;

  &:hover {
    background: $customPrimary-Hover;
    border-color: $customPrimary-Hover;
    color: #fff;
  }

  .active {
    background: $customPrimary-Hover;
    border-color: $customPrimary-Hover;
  }
}

.black-btn {
  background-color: #000;
  color: #fff;

  &:hover {
    background-color: #494747;
    color: #fff;
  }
}

.main-logo {
  width: 175px;

  img {
    width: 100%;
  }
}

.rounded-icons {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #f6c30f;
  border-color: #f6c30f;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1.2rem;
  box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;

  &:hover {
    background-color: #e6b711;
  }
}

.nav-tabs.subtabs > li a.active,
.nav-tabs.subtabs > li a:hover {
  // border-left-color: #fff;
  // border-bottom: 2px solid #f6c413;
  // border-right-color: #fff;
  // border-top-color: #fff;
  cursor: pointer;
}

// custom file //
.file-size {
  &::after {
    content: "\f030";
    font-family: "Fontawesome";
    color: black;
    display: flex;
    border: 1px solid #f6ca0c;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #f6ca0b;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 9;
    pointer-events: none;
    cursor: pointer;
    top: -2px;
  }

  .customFileInput {
    display: block;
    overflow: hidden;
    opacity: 0;
    height: 35px;
    position: relative;
    cursor: pointer;

    input {
      height: 30px;
      margin-left: -2px;
    }

    &::-webkit-file-upload-button {
      visibility: hidden;
    }

    &:hover::after {
    }

    &:active {
      outline: 0;

      &::after {
      }
    }
  }
}

.file-size {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 35px;
}

.headshot-img {
  width: 300px;
  height: 150px;
  position: relative;
  border: 1px solid #ccc;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;

  .headshot {
    overflow: hidden;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;

    img {
      width: 300px;
      max-width: 100%;
      height: 150px;
      max-height: 150px;
    }
  }
}

/*Right Content Css*/
.content-page {
  margin-left: 205px;
  overflow: hidden;
  padding: 16px 0px 65px 12px;
  min-height: 80vh;
  margin-top: 139px;
  .nav-item {
    margin-right: 48px;
  }
  h1,
  h2 {
    text-align: left;
    font-size: 26px;
    color: $headingblack;
    opacity: 1;
    margin-bottom: 14px;
    font-weight: $font-medium;
  }
  .nav-tabs {
    border-bottom: 1px solid #d9e2f0;
    a.nav-link {
      color: #7e7e7e;
      font-size: $font-15;
      font-weight: $font-regular;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      background: transparent;
      border: none;
      &:hover {
        border: none;
        background: transparent;
        color: $highlightcolor;
        border-bottom: $highlightcolor 2px solid;
      }
    }
    .nav-link.active {
      color: $highlightcolor;
      background-color: transparent;
      border: none;
      border-bottom: $highlightcolor 2px solid;
    }
  }
  .filter-block {
    .flex-fill,
    .flex-fills {
      padding-right: 10px;
      &:last-child {
        padding-right: 0;
      }
    }
    h5 {
      color: $headinlightgblack;
      font-size: $font-16;
      position: $positio-relative;
      padding: 7px 15px 7px 10px;
      &::before {
        content: "";
        position: $positio-absolute;
        border-left: $highlightcolor 2px solid;
        width: 2px;
        left: 0;
        top: 0;
        height: 100%;
      }
    }
    .css-yk16xz-control,
    .css-1pahdxg-control {
      border: 1px solid #c2cbe8;
      color: #a4abc5;
      min-height: 32px !important;
      font-size: $font-14;
    }
    .css-tlfecz-indicatorContainer {
      padding: 5px;
    }
    .css-1hwfws3 {
      padding: 1px 8px;
    }
    button.reset,
    button.apply {
      font-size: $font-14;
      text-transform: uppercase;
      font-weight: $font-medium;
    }
    button.reset {
      color: $colorPrimary;
      background: #fff;
    }
    button.apply {
      color: $white;
    }
  }
}

/*Footer Content Css*/

// common modal design
.modal {
  .modal-content {
    border: none;

    .modal-header {
      background: #b8c1c9;
      color: #fff;

      .modal-title {
        width: 100%;
        text-align: center;
      }

      .close {
        color: #fff;
        opacity: 1;
      }
    }

    .modal-footer {
      justify-content: center;
    }
  }
}

input:focus {
  outline: none;
}

button .fas {
  color: #ffffff;
}

.date-section {
  height: 40px;
}

.rrt-confirm-holder .rrt-confirm {
  width: 444px;
  font-size: 1rem;
  border-radius: 0.3rem;
}

.cusrsor-color {
  cursor: pointer;
  color: #87939f;

  &:hover {
    color: $text-hover !important;
  }
}

.rrt-button {
  height: 35px;
}

.custom-checkbox {
  position: relative;
  padding-left: 27px;
  margin-top: 0px;

  input[type="checkbox"] {
    opacity: 0;
    display: none;
  }

  .before-box:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 1px solid #4dc771;
    top: 3px;
    left: 0;
    border-radius: 3px;
  }

  input[type="checkbox"]:checked + .before-box:before {
    content: "\2714";
    font-size: 13px;
    text-align: center;
    color: #fff;
    font-weight: 300;
    line-height: 17px;
    border-color: #4dc771;
    background: #4dc771;
  }
}

.custom-checkbox .before-box {
  font-size: 1rem;
}

.rrt-confirm-holder .rrt-confirm .rrt-message {
  font-family: "Roboto", sans-serif !important;
}

.banner-section {
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
  }

  // &:after {
  //   content   : "";
  //   width     : 150%;
  //   height    : 300px;
  //   background: white;
  //   left      : 0;
  //   position  : absolute;
  //   bottom    : -165px;
  //   left      : -25%;
  //   transform : rotate(-10deg);
  //   @media screen and (max-width: 767px) {
  //     display: none;
  //   }
  // }
}

// .fixed-wrapper {
//   margin-top: 130px;
//   @media screen and (max-width:767px) {
//       margin-top: 0px;
//   }
// }
.list-theatre {
  padding: 0 16px;
  border: 1px solid #eee;
  border-top: none;
}

footer {
  bottom: 0;
  display: none;
  padding: 19px 15px 20px;
  position: absolute;
  right: 0;
  color: #98a6ad;
  left: 240px;
  background-color: #e0e9f5;
  a.nav-link {
    color: $colorPrimary;
    font-size: 0.9rem;
  }
}
.btn-block-bg {
  background-color: #e0e9f5;
  padding: 19px 15px 20px;
}
.footer-form {
  input {
    margin-right: 10px;
    border-radius: 0;
    background-clip: unset;
  }

  display: flex;
}

.form-line {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  height: 35px;
}

.input-withouticon {
  // .input-group-prepend {   position: absolute;
  // right                            : 17px;
  // bottom                           : 21px;
  // }
  .form-control {
    padding: 0;
  }

  .text-help {
    position: absolute;
    bottom: 0;
  }
}

label {
  color: $headinlightgblack;
  font-size: $font-15;
  font-weight: $font-regular;
  margin-bottom: 5px !important;
}

form .form-control {
  font-size: 1rem;
  font-family: "Roboto", sans-serif !important;
  padding: 0;
}

.award-list {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}

.mutipleSelect .select__control {
  border: none;

  box-shadow: none;
}

.maincontiner-profiles {
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.middleContainer {
  display: flex;
  min-height: calc(100vh - 222px);
  flex-direction: column;
  width: 100%;
}

.noData {
  margin-top: 150px;
  text-align: center;
}

.spin-loader {
  position: absolute;
  top: 19px;
  background: rgba(17, 16, 16, 0.45);
  width: 100%;
  bottom: 20px;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.basic-profile,
.basic-companyprofile {
  margin: 5rem 0;
}

.nodate-section {
  margin: 5% 0;

  img {
    width: 120px;
  }
}

textarea.form-control {
  height: calc(2.25rem + 2px);
}

.userInfo {
  [class^="icon-"] {
    padding-right: 5px;
    width: 26px;
    display: inline-block;
  }
}

.scroll-yaxis {
  max-height: 170px;
  overflow-y: auto;
}

.rrt-confirm-holder .rrt-confirm {
  .rrt-buttons-holder {
    padding: 15px;
    display: inline-block;
    width: 100%;
    text-align: center;

    .rrt-button {
      background: #000;
      color: #fff;
      padding: 0.375rem 2rem;
      border-radius: 5px;
      height: 42px;
      text-transform: uppercase;
      margin: 15px;
      float: inherit;
      margin: 0 10px;

      &:hover {
        color: #fff;
        background-color: #5a6268;

        &:active {
          color: #fff;
          background-color: #5a6268;
        }
      }
    }

    .rrt-button.rrt-ok-btn {
      background: $colorPrimary;

      &:hover {
        background: $customPrimary-Hover;
      }

      &:active {
        background: $customPrimary-Hover;
      }
    }
  }
}

.modal-body video {
  height: 270px !important;
}

.dropdown-item {
  &:focus {
    background-color: transparent;
  }
}

.all-img-popup {
  text-align: center;
}

.login-social {
  .socail-login-div {
    background: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    display: inline-block !important;
    margin: 0 !important;
    padding: 0 !important;
    cursor: pointer;
  }
}

.dropdown-menu {
  button {
    cursor: pointer;
  }
}

.inputbox input {
  padding-left: 0px;
}

.small-btn {
  font-size: 12px;
  padding: 6px 12px;
}

.follow-user {
  text-align: center;
  line-height: 20px;
  padding: 0 15px;

  .follow-count {
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
    min-height: 23px;
  }

  .following-text {
    color: #bcc2c9;
  }
  a {
    &:hover {
      .follow-count {
        color: #dbdcde;
      }

      .following-text {
        color: #dbdcde;
      }
    }
  }
}

.blocked-btn {
  background-color: #000;
  font-size: 1.1rem;
  border-color: #000;
  width: 50px;
  height: 50px;
  font-size: 16px;
  color: #cececc;

  &:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
  }
}

.follow-follwer-list {
  .tab-content {
    border: none;
    padding: 0;
  }
}

.plr-0 {
  padding-left: 0;
  padding-right: 0;
}

.view-opp-role {
  cursor: pointer;
}

.top-margin {
  margin-top: 0rem;
}

.infinite-scroll-component {
  .media-body {
    word-break: break-word;
  }
}

.following-grey-btn {
  background-color: #e9ebef !important;
  color: #70767c;
  border-color: #ddd !important;

  &:hover {
    color: #6b6d6f;
  }
}

.follow-follwer-list .nav-tabs.subtabs > li a.active,
.follow-follwer-list .nav-tabs.subtabs > li a:hover {
  padding-bottom: 9px;
  margin-bottom: 0;
  color: #f6c413;
}

.block-btn {
  background-color: #ed4867 !important;
  border-color: #ed4767 !important;
}

.show-more {
  color: red;
}

@media (max-width: 992px) {
  .maincontiner-profiles {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  body {
    .container {
      max-width: 98%;
    }
  }
}

@media (max-width: 767px) {
  body .container {
    max-width: 100%;
  }

  .input-withouticon {
    margin-bottom: 10px;

    .text-help {
      bottom: 1;
    }
  }

  .footer-input {
    p {
      padding: 0 15px;
    }

    .footer-form {
      padding: 0 15px;
    }
  }

  .rrt-confirm-holder .rrt-confirm {
    width: 96%;
    font-size: 1rem;
    left: 0;
    margin: 9px;
  }

  .custom-modalfooter {
    padding: 0;

    .btn {
      font-size: 0.9rem;
    }
  }

  footer {
    .col-md-12.text-center.d-flex.h-spacebw {
      flex-direction: column;
    }
  }

  .menu-list .dropdown-menu {
    left: 0;
    position: static;
    margin-top: 0;
  }

  .headshot-img {
    .headshot img {
      width: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }

  .top-margin {
    margin-top: 20px;
  }

  .follow-user {
    padding: 0 10px;
  }

  .rounded-icons {
    width: 40px;
    height: 40px;
    font-size: 12px;
  }

  .map-element {
    padding-bottom: 115%;
  }

  .small-btn {
    padding: 6px 10px;
    font-size: 10px;
  }
  .btn-black {
    background-color: #000;
    &:hover {
      background-color: #000;
    }
  }
}

@media (max-width: 540px) {
  .follow-user .follow-count {
    font-size: 1rem;
  }
  .follow-user.follower-withbtn {
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .following-text {
    font-size: 12px;
  }

  .small-btn {
    padding: 6px 4px;
  }
}

body {
  // main tabs design
  // .btn-secondary {
  //   background-color: rgb(12, 75, 146);
  //   border-color    : rgb(18, 91, 173);
  //   text-transform  : uppercase;
  // }

  .custom-select:disabled {
    border-radius: 0;
    padding-left: 6px;
  }
}

.step-first textarea {
  min-height: 55px;
  resize: none;
}

.Phone.phoneNumber.col-md-8 {
  float: left;
}

.dash.phoneNumber.col-md-1 {
  float: left;
}

.Ext.phoneNumber.col-md-3 {
  float: left;
}
