 
@mixin icons {
    width: 32px;
    height: 32px;
    opacity: 1;
    background-size: contain;
    border: none;
    cursor: pointer;
}
@mixin extra-icon-styles {
    margin: 0 auto;
    color: #3d4465;
    font-size: 14px;
    margin-bottom: 5px;
}
.Add {
    background: transparent url("../../assests/images/Group 8861.svg") 0% 0% no-repeat padding-box;
    @include icons;
    @include extra-icon-styles;
}

.Edit {
    background: transparent url("../../assests/images/Group 8860.svg") 0% 0% no-repeat padding-box;
    @include icons;
    @include extra-icon-styles;
}
.Balance {
    background: transparent url("../../assests/images/balance.svg") 0% 0% no-repeat padding-box;
    @include icons;
    @include extra-icon-styles;
}

.edit-details-btn {
    background: transparent url("../../assests/images/pencil-icon.svg") 0% 0% no-repeat padding-box;
    @include icons;
    width: 25px;
    height: 13px;
    vertical-align: text-top;
}
.Delete {
    background: transparent url("../../assests/images/Group-8857.svg") 0% 0% no-repeat padding-box;
    @include icons;
    @include extra-icon-styles;
}

.View {
    background: transparent url("../../assests/images/Group-8858.svg") 0% 0% no-repeat padding-box;
    @include icons;
    @include extra-icon-styles;
}
.Comment-box {
    background: transparent url("../../assests/images/Comment-box.svg") 0% 0% no-repeat padding-box;
    @include icons;
}

.hirarchy-btn {
    background: transparent url("../../assests/images/hirarchy-btn.svg") 0% 0% no-repeat padding-box;
    @include icons;
    @include extra-icon-styles;
    background-color: #cef2fb;
    border-radius: 4px;
    margin-left: 5px !important;
}

.Download {
    background: transparent url("../../assests/images/Group 8859.svg") 0% 0% no-repeat padding-box;
    @include icons;
    @include extra-icon-styles;
}

.SaveIcon {
    background: transparent url("../../assests/images/RightTick.svg") 0% 0% no-repeat padding-box;
    @include icons;
    @include extra-icon-styles;
}

.CancelIcon {
    background: transparent url("../../assests/images/Cross-icon.svg") 0% 0% no-repeat padding-box;
    @include icons;
    @include extra-icon-styles;
}

.CalculatorIcon {
    background: #fff url("../../assests/images/tool.svg") 0% 0% no-repeat padding-box;
    @include icons;
    @include extra-icon-styles;
    width: 32px;
}
.edit-icon {
    @include icons;
    width: 14px;
    height: 14px;
    background: transparent url("../../assests/images/Union 1.svg") 0% 0% no-repeat padding-box;
    float: left;
    position: $positio-relative;
    margin-right: 5px;
}

.plus-icon-square {
    background: transparent url("../../assests/images/add-icons.png") 0% 0% no-repeat padding-box;
    @include icons;
    width: 43px;
    height: 35px;
    margin-top: 5px;
    background-position: center right;
}

.calculate-icon {
    background: transparent url("../../assests/images/tool.png") 0% 0% no-repeat padding-box;
    @include icons;
    width: 43px;
    height: 35px;
    margin-top: 8px;
    background-position: center right;
}

.plus-icon {
    background: transparent url("../../assests/images/Group 10491.svg") 0% 0% no-repeat padding-box;
    @include icons;
    width: 22px;
    height: 22px;
}
.swap {
    width: 18px;
    height: 18px;
    background: transparent url("../../assests/images/swap-logo.svg") 0% 0% no-repeat padding-box;
    opacity: 1;
}
.go-to-top {
    width: 22px;
    height: 22px;
    background: transparent url("../../assests/images/go-to-top.svg") 0% 0% no-repeat padding-box;
    opacity: 1;
}
.minus-icon {
    width: 22px;
    height: 22px;
    background: transparent url("../../assests/images/Group 10490.svg") 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Add-icon {
    width: 72px;
    height: 20px;
    background: transparent url("../../assests/images/Group 10401.svg") 0% 0% no-repeat padding-box;
    opacity: 1;
    font-size: 0;
}
.Edit-icon {
    width: 72px;
    height: 20px;
    background: transparent url("../../assests/images/Group 10396.svg") 0% 0% no-repeat padding-box;
    opacity: 1;
    font-size: 0;
}
.Delete-icon {
    width: 72px;
    height: 20px;
    background: transparent url("../../assests/images/Group 10398.svg") 0% 0% no-repeat padding-box;
    opacity: 1;
    font-size: 0;
}
.View-icon {
    width: 72px;
    height: 20px;
    background: transparent url("../../assests/images/Group 10399.svg") 0% 0% no-repeat padding-box;
    opacity: 1;
    font-size: 0;
}
.Download-icon {
    width: 72px;
    height: 20px;
    background: transparent url("../../assests/images/Group 10400.svg") 0% 0% no-repeat padding-box;
    opacity: 1;
    font-size: 0;
}

.cancel-icon-white {
    filter: brightness(100);
    width: 14px;
    height: 14px;
    background: transparent url("../../assests/images/times.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: contain;
}

.cancel-icon {
    background: transparent url("../../assests/images/times.png") 0% 0% no-repeat padding-box;
    @include icons;
    width: 11px;
    height: 11px;
    margin-right: 5px;
}

.next-icon {
    background: transparent url("../../assests/images/right-arrow-white.svg") 0% 0% no-repeat padding-box;
    @include icons;
    width: 16px;
    height: 11px;
    margin-left: 5px;
}

.back-icon {
    background: transparent url("../../assests/images/back.png") 0% 0% no-repeat padding-box;
    @include icons;
    width: 8px;
    height: 13px;
    margin-right: 5px;
}

.add-rounded {
    background: transparent url("../../assests/images/add-bom.svg") 0% 0% no-repeat padding-box;
    width: 30px;
    height: 30px;
    opacity: 1;
    background-size: contain;
}

.send-for-approval {
    margin-right: 5px;
    width: 13px;
    height: 16px;
    background: transparent url("../../assests/images/send-for-approval.svg") 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: contain;
}
.pdf-detail {
    margin-right: 0px;
    width: 32px;
    height: 32px;
    background: transparent url("../../assests/images/pdf-detail.svg") 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: contain;
}
.backspace {
    background: transparent url("../../assests/images/backspace.svg") 0% 0% no-repeat padding-box;
    @include icons;
}

.compare-arrows {
    background: transparent url("../../assests/images/compare.svg") 0% 0% no-repeat padding-box;
    @include icons;
    margin-right: 5px;
    width: 20px;
    height: 14px;
}

.hirarchy-icon {
    background: transparent url("../../assests/images/hirarchy-icon.svg") 0% 0% no-repeat padding-box;
    @include icons;
    width: 18px;
    height: 12px;
    margin-right: 5px;
}

.trashred-icon {
    background: transparent url("../../assests/images/trash-red.svg") 0% 0% no-repeat padding-box;
    width: 11px;
    height: 14px;
    opacity: 1;
    margin-right: 5px;
    background-size: contain;
}

.save-icon {
    background: transparent url("../../assests/images/check.png") 0% 0% no-repeat padding-box;
    width: 18px;
    height: 12px;
    opacity: 1;
    margin-right: 5px;
    background-size: contain;
}

.filter {
    width: 12px;
    height: 12px;
    background: transparent url("../../assests/images/filter.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-right: 5px;
    background-size: contain;
}

.refresh {
    background: transparent url("../../assests/images/refresh-icon.svg") 0% 0% no-repeat padding-box;
    width: 14px;
    height: 14px;
    opacity: 1;
    margin-right: 5px;
    background-size: contain;
}
.Bulk {
    background: transparent url("../../assests/images/Upload.svg") 0% 0% no-repeat padding-box;
    @include icons;
    @include extra-icon-styles;
}

.Activate {
    background: transparent url("../../assests/images/Activate.svg") 0% 0% no-repeat padding-box;
    @include icons;
    @include extra-icon-styles;
}

.Copy.All {
    background: transparent url("../../assests/images/Copy.svg") 0% 0% no-repeat padding-box;
    @include icons;
    @include extra-icon-styles;
}
.Create {
    background: transparent url("../../assests/images/Create.svg") 0% 0% no-repeat padding-box;
    @include icons;
    @include extra-icon-styles;
}
.Approve {
    background: transparent url("../../assests/images/Approve.svg") 0% 0% no-repeat padding-box;
    @include icons;
    @include extra-icon-styles;
}
.SOB {
    background: transparent url("../../assests/images/sob-icon.svg") 0% 0% no-repeat padding-box;
    @include icons;
    @include extra-icon-styles;
}
.Run {
    background: transparent url("../../assests/images/Run.svg") 0% 0% no-repeat padding-box;
    @include icons;
    @include extra-icon-styles;
}
.Run-icon {
    width: 30px;
    height: 30px;
    background: transparent url("../../assests/images/run-icon.svg") 0% 0% no-repeat padding-box;
    opacity: 1;
    border: none;
    filter: brightness(100);
    background-size: contain;
}
.Save {
    background: transparent url("../../assests/images/Save.svg") 0% 0% no-repeat padding-box;
    @include icons;
    @include extra-icon-styles;
}
.Add-file {
    background: transparent url("../../assests/images/add-file4.svg") 0% 0% no-repeat padding-box;
    @include icons;
    @include extra-icon-styles;
}
.right-hand-arrow {
    background: transparent url("../../assests/images/right-hand-arrow.svg") 0% 0% no-repeat padding-box;
    @include icons;
    width: 24px;
    height: 24px;
    cursor: default;
}
.lock_icon {
    width: 28px;
    height: 26px;
    background: transparent url("../../assests/images/lock_icon.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    cursor: pointer;
    background-position: center;
    display: inline-block;
}

.CalculatorIcon:disabled,
.Add:disabled,
.Edit:disabled,
.Delete:disabled,
.View:disabled,
.Download:disabled,
.Bulk:disabled,
.Activate:disabled,
.Create:disabled,
.Copy:disabled,
.Approve:disabled,
.Run:disabled,
.Save:disabled,
.Add-file:disabled,
.SaveIcon:disabled,
.CancelIcon:disabled,
.CalculatorIcon:disabled {
    border: none !important;
    opacity: 0.5;
}
@media (max-width: $belowLaptop) {
    .Add,
    .Edit,
    .Balance,
    .Delete,
    .View,
    .Comment-box,
    .Download,
    .Bulk,
    .Activate,
    .Create,
    .Copy,
    .Approve,
    .Run,
    .SOB,
    .Save,
    .Add-file,
    .SaveIcon,
    .CancelIcon,
    .CalculatorIcon,
    .right-hand-arrow,
    .Copy.All {
        width: calc(32px * 80 / 100);
        height: calc(32px * 80 / 100);
        background-size: contain;
    }
}
.previous-btn {
    font-family: "agGridMaterial";
    font-size: 22px;
    line-height: 22px;
    font-style: normal;
    font-weight: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    border: none;
    padding: 0;
    color: #959cb6;
    margin-top: 4px;
    &:disabled {
        background-color: #ffffff !important;
        border: none !important;
    }
    &::before {
        content: "\f125";
    }
    &:hover {
        color: $customPrimary-Hover;
    }
}
.next-btn {
    @extend .previous-btn;
}
.next-btn::before {
    content: "\f11f";
}
