@import './cssVariable.scss';

.rfq-container-drawer {
    .container {
        padding-right: 0 !important;
    }

    .drawer-wrapper {
        min-width: 992px;
    }

    .part-detail-wrapper {

        .col-md-3,
        .col-md-6 {

            // padding-right: 7px;
            // padding-left: 7px;
            >div {
                margin-bottom: 0 !important;
            }
        }

        .inputbox {
            border-bottom: none;
        }

        textarea {
            min-height: 9.4rem;
        }
    }

    .overlay-contain {
        .ag-center-cols-container {
            border: 1px solid $agGridBorder;
            border-top: none;
        }
    }
}

.border-color {
    border-bottom: 1px solid $agGridBorder !important;
}

.colorWhite {
    background-color: #fff;
}

.margin-top {
    .ag-cell-wrapper {
        margin-top: 9px;
    }

    &.ag-cell-focus {
        border-color: $agGridBorder !important;
        border-bottom-color: #fff !important;
    }

}

.heading-container {
    height: 100%;
    font-size: 14px;
    margin-bottom: 0;

    >div {
        padding-left: 10px;

        span {
            font-weight: 500;
            color: $grid-font;
        }
    }
}