@import "./cssVariable.scss";

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?mx6nlh");
  src: url("fonts/icomoon.eot?mx6nlh#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?mx6nlh") format("truetype"), url("fonts/icomoon.woff?mx6nlh") format("woff"),
    url("fonts/icomoon.svg?mx6nlh#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}

body {
  color: #000;
}

.icon-about:before {
  content: "\e900";
  color: #000;
}

.icon-back-icon:before {
  content: "\e901";
  color: #000;
}

.icon-black-envelope-email-symbol:before {
  content: "\e902";
  color: #000;
}

.icon-calendar-profile:before {
  content: "\e903";
  color: #87939f;
}

.icon-calendar:before {
  content: "\e904";
  color: #87939f;
}

.icon-cancel:before {
  content: "\e905";
}

.icon-cancle-white-icon:before {
  content: "\e906";
  color: #000;
}

.icon-clock-circular-outline:before {
  content: "\e907";
  color: #86929f;
}

.icon-company-directory:before {
  content: "\e908";
  color: #000;
}

.icon-dashboard:before {
  content: "\e909";
}

.icon-delete-icon:before {
  content: "\e90a";
  color: #87939f;
}

.icon-download:before {
  content: "\e90b";
  color: #000;
}

.icon-dropdown-icon-upper:before {
  content: "\e90c";
  color: #000;
}

.icon-dropdown-small:before {
  content: "\e90d";
  color: #000;
}

.icon-dropdown-white-icon:before {
  content: "\e90e";
  color: #000;
}

.icon-dropdown-white-icon:before {
  content: "\e90e";
  color: #000;
}

.icon-dropdown:before {
  content: "\e90f";
  color: #87939f;
}

.icon-edit:before {
  content: "\e910";
  color: #87939f;
}

.icon-email:before {
  content: "\e911";
  color: #87939f;
}

.icon-filter:before {
  content: "\e912";
}

.icon-flag:before {
  content: "\e913";
  color: #87939f;
}

.icon-gender:before {
  content: "\e914";
  color: #87939f;
}

.icon-hight-icon:before {
  content: "\e915";
  color: #87939f;
}

.icon-image:before {
  content: "\e916";
  color: #b1b9c1;
}

.icon-information-icon:before {
  content: "\e917";
  color: #b1b9c1;
}

.icon-left-arron-icon:before {
  content: "\e918";
  color: #000;
}

.icon-left-arrow:before {
  content: "\e919";
  color: #000;
}

.icon-link:before {
  content: "\e91a";
  color: #86929f;
}

.icon-list-icon:before {
  content: "\e91b";
  color: #86929f;
}

.icon-list-white-icon:before {
  content: "\e91c";
}

.icon-list:before {
  content: "\e91d";
  color: #ffc30d;
}

.icon-location-line-icon:before {
  content: "\e91e";
  color: #87939f;
}

.icon-location:before {
  content: "\e91f";
  color: #87939f;
}

.icon-logout:before {
  content: "\e920";
  color: #000;
}

.icon-menu:before {
  content: "\e921";
  color: #000;
}

.icon-messages:before {
  content: "\e922";
  color: #000;
}

.icon-Metromaniacs:before {
  content: "\e923";
  color: #87939f;
}

.icon-minus:before {
  content: "\e924";
  color: #000;
}

.icon-my-opportunities:before {
  content: "\e925";
  color: #000;
}

.icon-navigation:before {
  content: "\e926";
  color: #000;
}

.icon-next-icon:before {
  content: "\e927";
  color: #000;
}

.icon-notification-line-icon:before {
  content: "\e928";
  color: #000;
}

.icon-notification:before {
  content: "\e929";
  color: #000;
}

.icon-opportunities:before {
  content: "\e92a";
  color: #000;
}

.icon-password:before {
  content: "\e92b";
  color: #87939f;
}

.icon-phone-call:before {
  content: "\e92c";
  color: #87939f;
}

.icon-phone-receiver:before {
  content: "\e92d";
  color: #86929f;
}

.icon-plus-grey:before {
  content: "\e92e";
  color: #86929f;
}

.icon-plus:before {
  content: "\e92f";
}

.icon-premium-icon:before {
  content: "\e930";
  color: #ffc30d;
}

.icon-profile-edit-icon:before {
  content: "\e931";
  color: #000;
}

.icon-profile:before {
  content: "\e932";
  color: #000;
}

.icon-refresh:before {
  content: "\e933";
  color: #000;
}

.icon-right-arrow-icon:before {
  content: "\e934";
  color: #000;
}

.icon-right-arrow:before {
  content: "\e935";
  color: #87939f;
}

.icon-save-file-option:before {
  content: "\e936";
  color: #000;
}

.icon-search-grey:before {
  content: "\e937";
  color: #b1b9c1;
}

.icon-selected-radio-button:before {
  content: "\e938";
  color: #6db827;
}

.icon-setting:before {
  content: "\e939";
}

.icon-soccer-ball:before {
  content: "\e93a";
  color: #87939f;
}

.icon-tag-fil:before {
  content: "\e93b";
  color: #6db827;
}

.icon-tag:before {
  content: "\e93c";
  color: #b1b9c1;
}

.icon-talent-directory:before {
  content: "\e93d";
  color: #000;
}

.icon-talent:before {
  content: "\e93e";
  color: #87939f;
}

.icon-Theatre:before {
  content: "\e93f";
  color: #87939f;
}

.icon-tick-green:before {
  content: "\e940";
  color: #6db827;
}

.icon-tick:before {
  content: "\e941";
}

.icon-trophy:before {
  content: "\e942";
  color: #87939f;
}

.icon-unselected-radio-button:before {
  content: "\e943";
  color: #000;
}

.icon-user-profile:before {
  content: "\e944";
  color: #b1b9c1;
}

.icon-user:before {
  content: "\e945";
  color: #86929f;
}

.icon-website-icon:before {
  content: "\e946";
  color: #86929f;
}

.icon-spinner9:before {
  content: "\e982";
  color: #000;
}

.icon-spinner11:before {
  content: "\e984";
  color: #000;
}

.supplierRadio {
  margin-left: 5px;
}

.supplierRadio .vbc {
  margin-left: -20px;
}

.supplierRadio .vbcwrapper {
  margin-left: 29px;
}

.tab-content {
  width: 100%;
}

.existing-supplier {
  display: inline-block;
}

.create-costing-grid {
  overflow: scroll;
}

.select-costing {
  cursor: pointer;
  text-decoration: underline;
}

.mr10 {
  margin-right: 15px;
}

.mr5 {
  margin-right: 5px;
}

.ml10 {
  margin-left: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt10 {
  margin-top: 10px;
}

.mt5 {
  margin-top: 5px;
}

.divider {
  padding: 5px;
  background-color: #f8b2b2;
}

.zbc-input {
  width: 60%;
  margin-right: 5px;
}

.supplier-input {
  width: 100%;
}

.base-cost {
  width: 50%;
  float: left;
  font-weight: bold;
}

.overhead-percent-zbc,
.overhead-percent-supplier {
  width: 85%;
}

hr {
  width: 100%;
}

.rm-inventory {
  width: 85%;
}

label {
  width: 100%;
}

.remarks {
  width: 100%;
}

.dark-divider {
  background-color: #707478;
}

.full-width {
  width: 100%;
}

.not-allowed {
  cursor: not-allowed;
}

label.zbcwrapper,
label.vbcwrapper {
  display: inline;
}

.weightLayout {
  width: 100%;
}

.mt40 {
  margin-top: 40px;
}

.costSummary-form .inputbox {
  border-bottom: none;
  padding-bottom: 0;
}

.costSummary-form .withoutBorder {
  border: 1px solid #ced4da !important;
}

.custom-ops .form-group.inputbox {
  width: 73%;
  float: left;
  margin-right: 5px;
}

.custom-ops .custom-btn {
  margin-top: 24px;
}

.create-costing-grid th {
  font-size: 12px;
  padding: 5px !important;
  vertical-align: middle;
}

.create-costing-grid td {
  font-size: 12px;
  padding: 4px;
}

.create-costing-grid td select,
.create-costing-grid td input {
  width: 50px;
}

button.add-btn {
  margin-top: 25px;
}

.form-group.inputbox.withoutBorderBottom {
  border-bottom: none;
}

.packaging-freight .text-help,
.packaging-freight label {
  display: none;
}

.packaging-freight .inputbox {
  border-bottom: none;
  padding-bottom: 0;
  margin: 0;
}

.BOM_form.top-margin.container {
  overflow: auto;
}

.process .bg-c-blue {
  background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.process .bg-c-green {
  background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}

.process .bg-c-pink {
  background: linear-gradient(45deg, #ff5370, #ff869a);
}

.process .bg-c-yellow {
  background: linear-gradient(45deg, #ffb64d, #ffcb80);
}

.process .bg-c-yellow {
  background: linear-gradient(45deg, #ffb64d, #ffcb80);
}

.process .bg-c-lite-green {
  background: linear-gradient(45deg, #69cec6, #8fdbd5);
}

.process .bg-c-blue {
  background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.process .bg-c-blue {
  background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.process .order-card {
  color: #fff;
}

.process .card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 0;
  margin-top: 2em;
  width: 100%;
}

.process .card .card-block {
  padding: 25px 25px;
}

.process .p-t-20 {
  padding-top: 20px !important;
}

.process .p-b-5 {
  padding-bottom: 5px !important;
}

.process .card .card-block p {
  line-height: 1.4;
}

.process .card .f-left {
  float: left;
}

.process .f-right {
  float: right;
}

.process .f-right {
  float: right;
}

.process .f-32 {
  font-size: 32px;
}

.process .d-b {
  display: block;
}

.dashboard-top {
  margin-top: 3rem;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #eee;
  border-color: #dee2e6 #dee2e6 #fff;
  
}

.privilege-form.login-form {
  width: 1100px;
}

// .multiselect-checkboxs {
//   font-family: sans-serif;
//   text-align: center;
// }

.multiselect-checkboxs .css-2b097c-container {
  width: 100%;
}

.permission .card {
  margin-bottom: 0;
}

.permission .card-body {
  max-width: 100%;
}

.additional {
  float: left;
}

.nav-link {
  display: block;
  padding: 0.5rem 0.75rem;
}

.BOM_Card {
  width: 100%;
}

.dash.phoneNumber {
  padding: 0;
}

.Ext.phoneNumber.col-md-3.input-withouticon {
  padding: 0;
}

.linkButton {
  float: right;
  text-decoration: underline;
  color: blue;
}

.login-container {
  display: block !important;
}

.multiselect-with-border {
  border: 1px solid #C2CBE8;
  border-radius: 3px;
}

.left-border {
  border-left: 4px solid #ccc;
  padding: 5px;
  margin-bottom: 15px;
}

.withBorder input.form-control {
  border: 1px solid #c2cbe8;
}

.form-control {
  // height: calc(2.85rem + 2px);
  padding: 12px !important;
  border-radius: 4px !important;
}

.form-control,
.manageuser .css-yk16xz-control {
  font-size: 14px !important;
  font-weight: 400 !important;
}

.form-group.inputbox.withBorder {
  margin-bottom: 0;
  border-bottom: none;
}

.textAreaWithBorder .inputbox {
  border: none;
}

.textAreaWithBorder textarea.form-control {
  border: 1px solid #ccc;
  padding: 5px;
}

.switch .left-title {
  display: inline-block;
  margin-right: 10px;
}

.switch .right-title {
  display: inline-block;
  margin-left: 10px;
}

.Add {
  width: 32px;
  height: 32px;
  background: transparent url("../../assests/images/Group 8861.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
}

.Edit {
  width: 32px;
  height: 32px;
  background: transparent url("../../assests/images/Group 8860.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
  border: none;
  cursor: pointer;
}

.Delete {
  width: 32px;
  height: 32px;
  background: transparent url("../../assests/images/Group 8857.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
  border: none;
}

.View {
  width: 32px;
  height: 32px;
  background: transparent url("../../assests/images/Group 8858.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
  border: none;
}

.Download {
  width: 32px;
  height: 32px;
  background: transparent url("../../assests/images/Group 8859.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
  border: none;
}

.Add,
.Edit,
.Delete,
.View,
.Download {
  margin: 0 auto;
  color: #3d4465;
  font-size: 14px;
  margin-bottom: 5px;
}

.selected-box {
  width: 18px;
  height: 18px;
  background: #ff6600;
  opacity: 1;
}

.not-selected-box {
  width: 18px;
  height: 18px;
  background: #ff0000;
  opacity: 1;
}

.text-right {
  text-align: right;
}

.link {
  color: #256bd1;
  font-size: 14px;
  cursor: pointer;
}



.my-custom-class {
  margin: 0;
}

.my-custom-class th {
  color: #3d4465;
  font-size: 14px;
}

.withBorderEmail .inputbox.input-group {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.withBorderEmail .input-group-prepend {
  margin-right: 5px;
  display: none;
}

.form-group {
  .css-yk16xz-control {
    // height: 48px;
    border-color: #c2cbe8;
  }
}

.withBorderPWD .inputbox.input-group {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.withBorderPWD .input-group-prepend {
  margin-right: 5px;
}

.header-title {
  height: 30px;
  border-left: 2px solid #d62c8c;
  opacity: 1;
  margin-bottom: 10px;
}

.header-title h5 {
  line-height: 30px;
  text-align: left;
  //font: Medium 18px/22px Roboto;
  letter-spacing: 0px;
  color: #3d4465;
  opacity: 1;
  padding-left: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.ext {
  label {
    color: #fff !important;
  }
}

.edit-icon {
  width: 16px;
  height: 16px;
  background: transparent url("../../assests/images/Union 1.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
  float: left;
  position: $positio-relative;
  top: 3px;
  margin-right: 8px;
}

.drawer-wrapper button.user-btn {
  float: right;
}

.plus-icon-square {
  width: 43px;
  height: 35px;
  background: transparent url("../../assests/images/add-square.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
  cursor: pointer;
}

.plus-icon {
  width: 22px;
  height: 22px;
  background: transparent url("../../assests/images/Group 10491.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
}
.minus-icon {
  width: 22px;
  height: 22px;
  background: transparent url("../../assests/images/Group 10490.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
}
.Add-icon {
  width: 72px;
  height: 20px;
  background: transparent url("../../assests/images/Group 10401.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
  font-size: 0;
}
.Edit-icon {
  width: 72px;
  height: 20px;
  background: transparent url("../../assests/images/Group 10396.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
  font-size: 0;
}
.Delete-icon {
  width: 72px;
  height: 20px;
  background: transparent url("../../assests/images/Group 10398.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
  font-size: 0;
}
.View-icon {
  width: 72px;
  height: 20px;
  background: transparent url("../../assests/images/Group 10399.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
  font-size: 0;
}
.Download-icon {
  width: 72px;
  height: 20px;
  background: transparent url("../../assests/images/Group 10400.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
  font-size: 0;
}
.Module-Name {
  text-align: left;
  font-size: 16px;
  //font: Regular 16px/19px Roboto;
  letter-spacing: 0px;
  color: #8a91ac;
  opacity: 1;
}
.sliderange{
  padding: 10px 17px;
  width: 6%;
  margin-right: 8px !important;
}
.switch-level{
  display: flex;
    align-items: center;
}
.fullinput-icon{
  width: 89%; margin-right:10px;
}
.dzu-dropzone {  overflow-x: hidden;
  overflow-y: auto;
  border: none;
  min-height: 100px;
  display: flex;
  padding: 0;
  flex-direction: column;
  height: 130px;
  align-items: flex-end;
    justify-content: center;
  .dzu-previewContainer{
    width: 50%;
    border-bottom: none;
    padding: 0 3%;
    min-height: 48px;
  }
  .dzu-inputLabelWithFiles, .dzu-inputLabel{
    width: 50%;
    padding: 0;
    border: 1px dashed #4a75ba;
    height: 120px;
    margin: 0;
    background: transparent;
    border-radius: 4px;
    position: absolute;
  }
}
.bluefooter-butn {
  background-color: #E0E9F5;
  padding: 15px !important;
}  
.range-slider {
  margin: 0 auto;
  padding: 100px 30px 0;
  .drawer-wrapper.spec-drawer{
    width: 430px !important;
  }
  @media (min-width: 800px) {
    max-width: 60%;
  }
}

.input-range {
  margin-bottom: 0;
}
.date-section .picker-panel.popup-left {
  z-index: 99;
  left: 0px !important;}
::placeholder { /* Most modern browsers support this now. */
  color:    #000;
}