@import './abstracts/variable.scss';

.costing-raw-material-section {

  th,
  td {
    // text-align: center;
    padding-top: 12px !important;
    padding-bottom: 12px !important;

    &:first-child {
      text-align: left;
    }
  }

  .form-group {
    input {
      padding: 6px !important;
      max-width: 86px;
      max-height: calc(38px * 80 / 100);
    }

    .text-help {
      bottom: -8px;
      font-size: calc(0.875rem * 80 / 100);
    }
  }

  .weight-calculator {
    text-align: center;
    width: 135px;
  }

  .rm-table-header {
    th {
      &:nth-child(2) {
        width: 8%;
      }

      &:nth-child(3) {
        width: 8%;
      }

      &:nth-child(4) {
        width: 10%;
      }

      &:nth-child(5) {
        width: 9%;
      }

      &:nth-child(6) {
        width: 9%;
      }

      &:nth-child(7) {
        width: 9%;
      }

      &:nth-child(8) {
        width: 10%;
      }

      &:nth-child(9) {
        width: 9%;
      }

      &:nth-child(10) {
        width: 9%;
      }

      &:last-child {
        width: 8%;
        min-width: 88px;
      }

      &.weight-calculator {
        width: 9%;
        min-width: 130px;
      }

      &.scrap-recovery {
        width: 11%;
        min-width: 136px;
      }

      &.net-rm-cost,
      &.scrap-weight {
        width: 10% !important;
      }
    }
  }

  //   .gross-weight,
  //   .finish-weight {
  //     text-align: center;
  //   }
  //
}

.costing-process-cost-section {
  @extend .costing-raw-material-section;

  .form-group {
    .text-help {
      white-space: nowrap;
      bottom: -12px;
    }

    .error-overflow {
      white-space: nowrap;
    }

    .text-error-title {
      .text-help {
        bottom: -25px !important;
        max-width: calc(100% + 2rem);
      }
    }
  }
}

.costing-operation-cost-section {
  @extend .costing-raw-material-section;

  .text-help {
    position: absolute
  }

  .header-without-labour-rate {
    th {

      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        width: 15%;
      }

      &:nth-child(6) {
        width: 11%;
      }

      &:nth-child(7) {
        width: 7%;
        min-width: 130px;
      }
    }
  }

  .header-with-labour-rate {
    th {

      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7) {
        width: 11%;
      }

      &:nth-child(8) {
        width: 8%;
      }

      &:nth-child(9) {
        width: 7%;
        min-width: 100px;
      }
    }
  }

  .text-help {
    position: absolute
  }
}

.costing-bop-cost-section {
  @extend .costing-raw-material-section;

  .table-header {
    th {

      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        width: 15%;
      }

      &:nth-child(6),
      &:nth-child(7) {
        width: 11%;
      }

      &:nth-child(8) {
        text-align: right;
        width: 7%;
        min-width: 130px;
      }
    }
  }
}

.handling-charge {
  div {
    &:first-child {
      width: auto;
    }
  }

  align-items: center;
  min-height: 85px;

  .text-help {
    position: absolute;
  }

  .before-box {
    padding-left: 0;
  }
}

.costing-surface-section {
  @extend .costing-raw-material-section;

  .text-help {
    position: absolute;
  }
}

@media screen and (min-width: $middleDesktop) {
  .costing-main-container {
    .rmcc-main-headings {
      .costing-raw-material-section {

        td,
        th {
          padding-top: 15px !important;
          padding-bottom: 15px !important;
        }

        .form-group {
          .text-help {
            font-size: calc(1rem * 80 / 100);
            bottom: -9px;
          }
        }

        .weight-calculator {
          width: 155px;
        }
      }
    }

    .costing-process-cost-section {
      .form-group {
        .text-help {
          bottom: -11px !important;
        }

        .error-overflow {
          white-space: nowrap;
        }

        .text-error-title {
          .text-help {
            white-space: nowrap;
            bottom: -27px !important;
            max-width: calc(100% + 2rem);
          }
        }
      }
    }
  }
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  grid-gap: 4px;

  .secondary-btn {
    color: #3d4465;
    font-weight: 600;

    .CalculatorIcon {
      width: 14px;
      height: 16px;
      margin-right: 5px;
      margin-top: 5px;
    }

    &:hover {
      color: #fff;
    }
  }
}

.scrap-recovery {
  .text-error-title {
    .text-help {
      bottom: -20px;
    }
  }
}

.costing-error-container {
  .text-error-title {
    .text-help {
      top: -2px;
    }

    .error-overflow {
      width: calc(100% + 19px);
    }
  }
}

.fixed-error {
  bottom: -10px;
}

.assembly-button-container {
  display: flex;
  grid-gap: 3px;
  justify-content: flex-end;

  button {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}

.add-container {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 10px;

  grid-gap: 5px;

  .form-group-searchable-select {
    max-width: 230px;
    min-height: auto !important;
    margin-bottom: 0 !important;
  }

  button {
    margin-top: 30px;
  }
}

.part-cost-table {

  .form-group-searchable-select,
  .inputbox {
    min-height: auto !important;
    margin-bottom: 0 !important;
    max-width: 100px;

    label {
      display: none;
    }
  }

  .delta-warpper {
    display: flex;
    grid-gap: 5px;

    .form-group-searchable-select {
      max-width: 100px;
    }
  }
}

.net-rm-cost {
  .tooltip-inner {
    min-width: 270px;
  }
}

.header-tooltip {
  float: unset;
  margin-top: 4px;
  margin-left: 3px;
}

.process-net-cost {
  .tooltip-inner {
    min-width: 410px;
    text-align: left;
  }

  .tooltip.show {
    opacity: 1 !important;
  }
}

.inner-diameter {
  .tooltip-inner {
    min-width: 210px;
  }
}

.weight-of-sheet {
  .tooltip-inner {
    min-width: 310px;
  }
}

.process-quatity-tooltip {
  @extend .weight-of-sheet;

  .tooltip-inner {
    text-align: left;
  }
}

.sticky-headers {
  position: sticky;
  top: 190px;
  z-index: 1;
  background-color: $agGridBorder;

  @media screen and (min-height:768px) and (max-height: 1092px) {
    top: 173px;
  }
}

//Sticky headers for multiple technology
.multi-technology-container {
  .sticky-headers {
    top: 72px;
  }
}

.pin-btn-container {
  display: flex;
  align-items: center;
  justify-content: end;
  grid-gap: 3px;

  .pinned {
    position: relative;

    .unpin {
      position: absolute;
      height: 18px;
      width: 1px;
      background-color: $colorPrimary;
      transform: rotate(-15deg);
      right: 9px;
      top: 1px;
    }
  }
}

.float-unset {
  float: unset;
}

.overhead-profit-tab {
  border-left: 1px solid $borderColor;
  border-right: 1px solid $borderColor;
}

.costing-main-container {
  table.costing-table-next {

    .cr-select-height,
    .form-group-searchable-select {
      max-width: 320px;

      @media screen and (max-width: $middleDesktop) {
        max-width: 230px;
      }
    }
  }
}

.overflow-y-hidden {
  overflow-y: hidden !important;
}

.error-label {
  .text-error-title {
    .text-help {
      bottom: -21px !important;
      margin: 0 !important;

      @media screen and (min-width: $middleDesktop) {
        bottom: -23px !important;
      }
    }
  }

  &.surface-treament {
    .text-help {
      bottom: -21px !important;
      margin: 0 !important;

      @media screen and (min-width: $middleDesktop) {
        bottom: -21px !important;
      }
    }
  }
}

.tab-disount-total-cost {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 8px;

  span {
    font-weight: 700;
    color: $headinlightgblack;
    margin-right: 4px;
  }
}

.finalize-cost {
  // color: $postiveValueColor;
  background-color: $positiveBackground !important;

  .bg-grey {
    padding-left: 0 !important;
  }

  span {
    // color: $postiveValueColor;
    background-color: $positiveBackground !important;
  }
}

.rfq-summary-discard {
  width: 32px;
  height: 32px;
  margin: 0;
}

.first-section {
  padding-right: 0 !important;
}

.second-section {
  padding: 0;

  .costing-border-inner-section {
    border-left: none !important;
    height: 100%;

    .col-md-12 {
      margin-bottom: 0px !important;
      text-align: right;

      @media screen and (max-width: $max1367) {
        margin-bottom: 1px !important;

      }

      &:last-child {
        height: calc(100% - 45px);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &.profit {
    .costing-border-inner-section .col-md-12 {
      @media screen and (max-width: $max1367) {
        margin-bottom: 2px !important;

      }
    }
  }
}


.costing-selectable-dropdown {
  margin-bottom: 0 !important;
  min-width: 120px;

  .multi-select-container__indicators,
  .multi-select-container__control {
    min-height: calc(38px * 80 / 100) !important;
    height: calc(38px * 80 / 100) !important;
  }
}

.costing-selectable-dropdown {
  margin-bottom: 0 !important;
  min-width: 120px;

  .multi-select-container__indicators,
  .multi-select-container__control {
    min-height: calc(38px * 80 / 100) !important;
    height: calc(38px * 80 / 100) !important;
  }
}

.rfq-summary-discard {
  width: 32p dex;
  height: 32px;
  margin: 0;
}

.first-section {
  padding-right: 0 !important;
}


.second-section {
  padding: 0;

  .costing-border-inner-section {
    border-left: none !important;
    height: 100%;

    .col-md-12 {
      margin-bottom: 1px;
      text-align: right;

      &:last-child {
        height: calc(100% - 45px);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.pdf-print {
  td {
    span {
      min-height: 30px;
    }
  }
}

.st-crm-head {
  .multi-select-container__menu {
    z-index: 13 !important;
  }
}

.date-and-btn-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;

  .date-and-version {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .button-container {
    justify-self: right;

    button {
      padding-right: 0 !important;
      min-width: 100px;
    }
  }
}

@for $i from 1 through 10 {
  .pie-chart-wrapper-#{$i} {
    min-width: inherit;
    min-height: inherit;
  }
}

.approver-wrapper {
  min-height: 75px !important;
}

.approver-warning {
  max-width: 100%;
  white-space: nowrap;

  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.main-costing-summary,
.costing-approval-summary {
  tr {

    th:first-child,
    td:first-child {
      position: sticky;
      left: 0;
      background-color: #fff;
      border-left: none;
      border-right: none;
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        border-right: 1px solid $borderColor;
        border-left: 1px solid $borderColor;
        display: block;
        top: 1px;
      }
    }

    &.background-light-blue {

      th:first-child,
      td:first-child {
        background-color: #E7F2FC;
      }
    }
  }

  thead {
    tr {
      th:first-child {
        &::before {
          border-bottom: 1px solid $borderColor;
        }
      }
    }
  }

}

.overhead-profit-tab {
  .custom-checkbox {
    margin-right: 24px;

    .before-box {
      padding-left: 0 !important;
    }
  }
}

.text-wrapped {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}

.button-stick {
  position: absolute;
  right: 1px;
  bottom: 8px;
  width: 20px !important;
  height: 20px !important;
}

.paper-corrugated-box-flute {
  .text-help {
    position: absolute;
  }
  &.hide-error {
    .text-help {
      display: none;
    } 
  }
}