@import './abstracts/variable.scss';

.calculator {
    &__forging {
        .drawer-1500px {
            min-width: 1024px;
        }

        .text-overflow {
            min-width: 70px;
        }

        @media screen and (max-width: $max1367) {
            table {
                td {
                    font-size: 14px;
                }
            }

            .bluefooter-butn.border {
                font-size: 15px;
            }
        }
    }

    &__paper_corrugated_box {
        .drawer-1500px {
            min-width: 1024px !important;
        }
    }
}

.conversion-cost {
    .MuiPaper-root {
        padding-bottom: 0 !important;
    }

    .view-conversion-cost-drawer {
        max-width: 1210px;

        .drawer-1500px {
            padding-bottom: 0;
            min-width: 1180px;
        }
    }

    .view-conversion-header {
        padding-right: 0;
        min-height: calc(100vh - 88px);
    }

    @media screen and (min-width:$middleDesktop) {
        .view-conversion-cost-drawer {
            max-width: 1390px;

            .drawer-1500px {
                padding-bottom: 0;
                min-width: 1360px;
            }
        }
    }
}

@media screen and (max-width: $max1367) {
    .drawer-wrapper {
        .table {

            td,
            th {
                padding: 0.71rem 6px;

                &:first-child {
                    padding-left: 10px;
                }

                &:last-child {
                    padding-right: 10px;
                }
            }
        }
    }
}

.ferrous-calculator {
    table.ferrous-table {
        border-right: none !important;
        border-left: none !important;
        border-top: none !important;

        .inputbox {
            min-height: unset;
            margin-bottom: 0;

            label {
                display: none;
            }

            input {
                max-width: 80px;
                height: calc(38px * 80/100);
            }

            .text-error-title .text-help {
                margin-top: -2px;
            }
        }
    }
}

.add-bop-drawer {
    .drawer-wrapper {
        max-width: 320px;

        .bluefooter-butn {
            display: flex;
            justify-content: flex-end;
            padding-right: 0 !important;
        }
    }
}

.MuiBackdrop-root {
    padding-bottom: 0;
}

.MuiDrawer-paper {
    .drawer-wrapper {
        padding-bottom: 0 !important;
    }

    .hidepage-size {
        min-height: calc(100vh - 154px);

        @media screen and (min-width:$middleDesktop) {
            min-height: calc(100vh - 160px);
        }
    }

    .drawer-sticky-btn {
        position: sticky;
        min-width: calc(100% + 30px);
        bottom: -20px;
        margin-bottom: -20px !important;

        .bluefooter-butn {
            padding: 10px 15px !important;
            padding-bottom: 15px !important;
            background-color: #eaf0f9 !important;
            margin-left: -15px;
        }
    }
}

//RUN SIMULATION DRAWER DISCOUNT TOGGLE SCSS
.drawer-side-input-other {
    width: 100%;
    margin-bottom: -1rem;

    .toggle-button-per-and-fix {
        margin-top: -0.5rem;
        display: flex !important;
        justify-content: space-between;
        margin-bottom: 5px;

        .form-group.inputbox.withBorder {
            min-width: 16.7rem;
            min-height: 0;
            margin-bottom: 0 !important;
        }

        .normal-switch {
            margin-top: 30px !important;
        }

        .additonal-discount-container {
            display: flex;
            grid-gap: 10px;
            margin-left: 15px;

            .auto-width {
                min-height: auto !important;
                margin-bottom: 0 !important;

                label {
                    white-space: nowrap;
                }

                &.inputbox {
                    border-bottom: none;
                }
            }
        }

        .text-help {
            position: absolute;
        }
    }
}


.check-box-container:nth-child(11),
.check-box-container:nth-child(12) {
    flex: 0 0 100% !important;
    max-width: 100% !important;
}

.check-box-container:nth-child(11) {
    border-top: 1px solid rgba(180, 197, 226, 0.51) !important;

    .drawer-side-input-other {
        padding-top: 12px;
    }
}

.impact-drawer-table {
    width: calc(100% - 30px);
    margin: auto;
    margin-bottom: 20px;

    td {
        border-top: none;
    }
}

.sub-table {
    th {
        font-weight: 500 !important;
    }
}

.chart-drawer {
    .drawer-1500px {
        max-width: 994px;
    }
}

.table-with-input-data {
    input {
        height: 28px;
    }
}

.raw-material-dropdown {
    margin-bottom: 20px;

    .form-group-searchable-select {
        min-height: auto !important;
        margin-bottom: 0 !important;
    }
}