@import "./abstracts/variable";
@import "./abstracts/mixin";
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';

// @mixin icons($path, $width: 26px, $height: 26px, $background-size: contain, $shadowColor: transparent, $borderColor: transparent) {
//     background: transparent url($path) 0% 0% no-repeat padding-box;
//     width: $width;
//     height: $height;
//     opacity: 1;
//     background-size: $background-size;
//     border: none;

//     &:focus {
//         box-shadow: 0 0 5px $shadowColor !important;
//         border: 1px solid $borderColor !important;

//     }
// }

.Add {
    @include icons("../../images/Add-file.svg");
    @include extra-icon-styles;
}

.Edit {
    @include icons("../../images/edit-icon.svg", $shadowColor: #f8a000, $borderColor: #feeccc);
    @include extra-icon-styles;
}

.right-hand-arrow {
    @include icons("../../images/right-hand-arrow.svg", 24px, 24px);
}

.Balance {
    @include icons("../../images/balance.svg");
}

.edit-details-btn {
    @include icons("../../images/pencil-icon.svg", 25px, 13px);
}

.edit_pencil_icon {
    @include icons("../../images/WhitePencil-Icon.svg", 12px, 12px);
}

.Delete {
    @include icons("../../images/Group-8857.svg", $shadowColor: #fc5774, $borderColor: #fedde3);
    @include extra-icon-styles;
}

.Comment-box {
    @include icons("../../images/Comment-box.svg", $borderColor: #cef2fb, $shadowColor: #0cbeeb);
}

.View {
    @include icons("../../images/Group-8858.svg", $shadowColor: #0cbeeb, $borderColor: #bbe8f9);

}

.cost-movement {
    @include icons("../../images/cost-movement.svg", $shadowColor: #0cbeeb, $borderColor: #bbe8f9);
    @include extra-icon-styles;

}

.view-masters {
    @include icons("../../images/view-master.png", $shadowColor: #0cbeeb, $borderColor: #bbe8f9);
    @include extra-icon-styles;
    border-radius: 3px
}

.Comment-box {
    @include icons("../../images/Comment-box.svg", $borderColor: #cef2fb, $shadowColor: #0cbeeb);
}

.pushed-action-btn {
    @include icons("../../images/pushed-sap.png", $borderColor: #cef2fb, $shadowColor: #0cbeeb);
    @include extra-icon-styles;
    border-radius: 3px
}

.pie-chart {
    @include icons("../../images/pie-chart.svg");
}

.View {
    @include icons("../../images/Group-8858.svg", $shadowColor: #0cbeeb, $borderColor: #bbe8f9);
    @include extra-icon-styles;

    &.small {
        width: 20px !important;
        height: 20px !important;
    }
}

.additional-add {
    @include icons("../../images/process-add.svg", $shadowColor: #0cbeeb, $borderColor: #bbe8f9);
    border-radius: 4px;
    @include extra-icon-styles;
}

.add-out-sourcing {
    @include icons("../../images/process-add.svg", 20px, 20px, $shadowColor: #0cbeeb, $borderColor: #bbe8f9);
    border-radius: 4px;
}

.hirarchy-btn {
    @include icons("../../images/hirarchy-btn.svg", $background-size: none, $shadowColor: #0cbeeb, $borderColor: #bbe8f9);
    background-color: #cef2fb;
    margin-left: 5px;
    border-radius: 4px;
}

.Download {
    @include icons("../../images/Download.svg");
    @include extra-icon-styles;
}

.SaveIcon {
    @include icons("../../images/RightTick.svg");
    @include extra-icon-styles;
}

.CancelIcon {
    @include icons("../../images/Cross-icon.svg", $shadowColor: #fc5774, $borderColor: #fedde3);
    @include extra-icon-styles;
}

.Award {
    @include icons("../../images/award.png");
    @include extra-icon-styles;
    border-radius: 5px;
}

.undo-icon {
    @include icons("../../images/undo-red.png", 20px, 17px);
    margin-bottom: 1px !important;
}

.undo.cancel-btn {
    color: #fc5774;
    border: 1px solid #fc5774;

    &:hover,
    &:focus,
    &:active {
        background-color: #fc5774 !important;
        border: 1px solid #fc5774 !important;
        color: #fff;
        transition: all 0.3s ease-in-out;

        .undo-icon {
            transition: all 0.3s ease-in-out;
            @include icons("../../images/undo-white.png", 20px, 17px);
            margin-bottom: 1px !important;
        }
    }
}

.CalculatorIcon {
    @include icons("../../images/tool.svg", $shadowColor: #256bd1, $borderColor: #256bd1);
    background-color: #ffffff;
    @include extra-icon-styles;
}

.edit-icon {
    @include icons("../../images/Union 1.svg", 14px, 14px);
    float: left;
    position: $positio-relative;
    margin-right: 5px;
}

.plus-icon-square {
    @include icons("../../images/add-icons.png", 43px, 35px, none);
    margin-top: 5px;
    border-radius: 3px;
    background-position: center right;
    cursor: pointer;

    &:is(button) {
        @include icons("../../images/add-icons.png", 24px, 22px, none);
        margin-left: 10px;

        &:focus {
            box-shadow: none !important;
            border: none !important;
        }
    }

    &:is(div) {
        margin-left: 0;
    }

    &:disabled {
        border: none !important;
        opacity: 0.5;
    }
}

.blurPlus-icon-square {
    @extend .plus-icon-square;
    @include icons("../../images/bluradd.png", 43px, 35px, none);
    margin-top: 8px;

    &:is(button) {
        @include icons("../../images/bluradd.png", 26px, 24px, none);
        margin-left: 10px;

        &:focus {
            box-shadow: none !important;
            border: none !important;
        }
    }

    &:is(div) {
        margin-left: 0;
    }

    background-position: center right;
    pointer-events: none;
}


.calculate-icon {
    @include icons("../../images/tool.svg", 43px, 35px);
    margin-top: 8px;
    background-position: center right;
}

.plus-icon {
    @include icons("../../images/plus-icon-secondary.svg", 22px, 22px);
}

.plus {
    @include icons("../../images/plus-icon.svg", 12px, 12px);
}

.swap {
    @include icons("../../images/swap.svg", 18px, 18px);
}

.swap-hover {
    @include icons("../../images/swap-hover.svg", 18px, 18px);
}

.go-to-top {
    @include icons("../../images/go-to-top.svg", 22px, 22px);
}

.minus-icon {
    @include icons("../../images/minus-icon.svg", 22px, 22px);
}

.Add-icon {
    @include icons("../../images/add-icon.svg", 72px, 20px);
}

// nowhere use this icon

.Edit-icon {
    @include icons("../../images/edit-icon-secondary.svg", 72px, 20px);
}

// nowhere use this icon

.Delete-icon {
    @include icons("../../images/delete-icon.svg", 72px, 20px);
}

// nowhere use this icon

.View-icon {
    @include icons("../../images/view-icon.svg", 72px, 20px);
}

// nowhere use this icon

.Download-icon {
    @include icons("../../images/download-icon.svg", 72px, 20px);
}

// nowhere use this icon

.pdf-detail {
    @include icons("../../images/pdf-detail.svg");
}

.backspace {
    @include icons("../../images/backspace.svg");
}

.upload {
    @include icons("../../images/upload.png", 14px, 14px);
}

.refresh-icon {
    @include icons("../../images/refresh_icon.svg");
}

.download {
    @include icons("../../images/download.png", 14px, 14px);
    // margin-right: 5px;
}

.cancel-icon-white {
    @include icons("../../images/times.png", 14px, 14px);
    filter: brightness(100);
}

.cancel-icon {
    @include icons("../../images/times.png", 11px, 11px);
    margin-right: 5px;
}

.next-icon {
    @include icons("../../images/right-arrow-white.svg", 16px, 11px);
    margin-left: 5px;
}

.back-icon {
    @include icons("../../images/back.png", 8px, 13px);
    margin-right: 5px;
}

.add-rounded {
    @include icons("../../images/add-bom.svg", 30px, 30px);
}

.send-for-approval {
    @include icons("../../images/send-for-approval.svg", 13px, 16px);
    margin-right: 5px;
}

.compare-arrows {
    @include icons("../../images/compare.svg", 20px, 14px);
    margin-right: 5px;
}

.hirarchy-icon {
    @include icons("../../images/hirarchy-icon.svg", 18px, 12px);
    // margin-right: 5px;
}

.group-process {
    @include icons("../../images/group-process.svg");
    margin-right: 5px;
    border-radius: 4px
}

.trashred-icon {
    @include icons("../../images/trash-red.svg", 11px, 14px);
    margin-right: 5px;
}

.save-icon {
    @include icons("../../images/check.png", 18px, 12px);
    margin-right: 5px;
}

.approve-save-tick {
    @include icons("../../images/check-green.svg", 13px, 11px);
    margin: auto;

}

.filter {
    @include icons("../../images/filter.png", 12px, 12px);
}

.refresh {
    @include icons("../../images/refresh-icon.svg", 14px, 14px);
}

.cross-light {
    @include icons("../../images/cross_light.svg", 14px, 14px);
}

.Bulk {
    @include icons("../../images/Upload.svg");
    @include extra-icon-styles;
}

.Activate {
    @include icons("../../images/Activate.svg");
    @include extra-icon-styles;
}

.Copy.All {
    @include icons("../../images/Copy.svg", $shadowColor: #f8a000, $borderColor: #feeccc);
    @include extra-icon-styles;

}

.Create {
    @include icons("../../images/Create.svg");
    @include extra-icon-styles;
}

.Approve {
    @include icons("../../images/Approve.svg");
    @include extra-icon-styles;
}

.SOB {
    @include icons("../../images/sob-icon.svg");
    @include extra-icon-styles;
}

.Run {
    @include icons("../../images/Run.svg");
    @include extra-icon-styles;
}

.Run-icon {
    @include icons("../../images/run-icon.svg", 30px, 30px);
    filter: brightness(100);
}

.Save {
    @include icons("../../images/Save.svg");
    @include extra-icon-styles;
}

.Add-file {
    @include icons("../../images/add-file4.svg", $shadowColor: #7959f6, $borderColor: #e4defd);
    @include extra-icon-styles;
}

.create-rfq {
    @include icons("../../images/create-rfq.svg", $shadowColor: #f8a000, $borderColor: #feeccc);
    @include extra-icon-styles;
}

.associate {
    @include icons("../../images/associate.svg");
    @include extra-icon-styles;
    border-radius: 5px;

    &:focus {
        border: unset !important;
        box-shadow: unset !important;
    }
}

.lock_icon {
    @include icons("../../images/lock.svg", 17px, 17px);
    cursor: pointer;
    background-position: center;
    display: inline-block;
}

.send-for-approval-form-drawer {
    @include icons("../../images/send-for-approval-with-bg.svg", 16px, 20px);
    margin: auto;
}

.reminder {
    @include icons("../../images/reminder.svg", 16px, 16px);
    margin: auto;
}

.zoom-in-hover {
    @include icons("../../images/plus-icon.svg", 10px, 10px)
}

.zoom-in {
    @include icons("../../images/zoom-in.svg", 10px, 10px)
}

.zoom-out {
    @include icons("../../images/zoom-out.svg", 14px, 14px)
}

.zoom-out-hover {
    @include icons("../../images/zoom-out-hover.svg", 16px, 16px)
}

.history-remark {
    @include icons("../../images/history-remark.svg", 22px, 22px);
    margin: auto;
    background-color: #cef2fb;
}

.link-icon {
    @include icons("../../images/link.svg", 20px, 20px)
}


.all-modules {
    @include icons("../../images/all-modules.png", 24px, 24px);
    margin-bottom: 2px;
}

.cross-module {
    @include icons("../../images/cross-icon.png", 24px, 24px);
    margin-bottom: 2px;
}

.arrow-previous {
    @include icons("../../images/caret-down.svg", 20px, 20px, );
    margin-top: 3px;
    transform: rotate(90deg);

    &:focus {
        @extend %focus;
    }

    &:disabled {
        @extend %disabled;
    }
}

.arrow-next {
    @include icons("../../images/caret-down.svg", 20px, 20px, $shadowColor: none, $borderColor: none);
    margin-top: 3px;
    transform: rotate(-90deg);

    &:focus {
        @extend %focus;
    }

    &:disabled {
        @extend %disabled;
    }
}

.pinned {
    @include icons("../../images/pinned.svg", 20px, 20px);

    &:focus {
        box-shadow: none;
        border: none;
    }
}

.broken-link-icon {
    @include icons("../../images/broken-link.svg", 18px, 18px)
}

.excel-btn.user-btn {
    padding: 7px !important;

    img {
        max-width: 24px;
    }

    @media screen and (max-width: $max1367) {
        padding: 7px !important;

        img {
            max-width: 20px;
        }
    }
}

.guide-bulb {
    @include icons("../../images/guide-off.png", 22px, 22px);
    border-radius: 5px;
    vertical-align: middle;
}

.guide-bulb-on {
    @extend .guide-bulb;
    @include icons("../../images/guide-bulb-on.svg", 22px, 22px);
}

.CalculatorIcon:disabled,
.Add:disabled,
.Edit:disabled,
.Delete:disabled,
.View:disabled,
.Download:disabled,
.Bulk:disabled,
.Activate:disabled,
.Create:disabled,
.Copy:disabled,
.Approve:disabled,
.Run:disabled,
.Save:disabled,
.Add-file:disabled,
.SaveIcon:disabled,
.CancelIcon:disabled,
.CalculatorIcon:disabled {
    border: none !important;
    opacity: 0.5;
}

.plus,
.cross-icon,
.check-icon,
.upload {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.cross-icon,
.check-icon {
    width: 20px;
    padding-right: 3px;
    vertical-align: middle;
    font-size: 11px;
    font-weight: 300;
    margin-right: 0 !important;
    height: 11px !important;
    line-height: 11px !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.cross-icon {
    img {
        height: inherit;
    }
}

.check-icon {
    height: 13px !important;
    line-height: 13px !important;
    width: 28px;
}

@media (max-width: $belowLaptop) {

    .Add,
    .Edit,
    .Balance,
    .Delete,
    .View,
    .Comment-box,
    .Download,
    .Bulk,
    .Activate,
    .Create,
    .Copy,
    .Approve,
    .Run,
    .SOB,
    .Save,
    .Add-file,
    .SaveIcon,
    .CancelIcon,
    .CalculatorIcon,
    .right-hand-arrow,
    .Copy.All {
        width: calc(32px * 80 / 100);
        height: calc(32px * 80 / 100);
        background-size: contain;
    }
}

.previous-btn {
    font-family: "agGridMaterial";
    font-size: 20px;
    line-height: 20px;
    font-style: normal;
    font-weight: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    border: none;
    padding: 0;
    color: #959cb6;
    margin-top: 4px;

    &:disabled {
        background-color: #ffffff !important;
        border: none !important;
    }

    &::before {
        content: "\f125";
    }

    &:hover {
        color: $customPrimary-Hover;
    }
}

.next-btn {
    @extend .previous-btn;
}

.next-btn::before {
    content: "\f11f";
}

@keyframes rightArrow {
    0% {
        -webkit-transform: translateX(0);
        opacity: 1
    }

    100% {
        -webkit-transform: translateX(-0.4em);
        opacity: 1
    }
}

.right-hand-arrow {
    animation: rightArrow 0.6s infinite alternate ease-in-out;
    margin-bottom: 0;
}

.costing-action.text-right {
    padding-right: 15px !important;

    @media screen and (min-width:$middleDesktop) {
        padding-right: 30px !important;
    }
}

.action-btn-wrapper {
    display: flex;
    grid-gap: 5px;
    justify-content: end;

    button {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

.rm-popup-content {
    @media screen and (max-width: $max1367) {
        left: 1114px !important;

        >div {
            left: 74% !important;
        }

        .row {
            left: unset !important;
        }
    }
}

.actions-wrapper {
    .ag-react-container {
        display: flex;
        justify-content: end;
        grid-gap: 5px;
        align-items: center;

        button {
            margin: 0;
        }
    }

    .ag-cell-wrapper {
        @extend .ag-react-container;
    }
}

.link-icon-container {
    position: relative !important;

    .link-icon,
    .broken-link-icon {
        position: absolute;
        top: 32%;
        left: 14px;
    }
}

.logo-container {
    display: flex;

    .border-left {
        border-left: 1px solid rgba(180, 197, 226, 0.51) !important;
        margin: -3px 15px;
    }

    button {
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
    }
}

.btn-no-border {
    padding: 0;

    &:focus {
        border-color: transparent !important;
        box-shadow: none !important;
        transition: none !important;
    }
}

.cross-btn-container {
    position: relative;

    .css-1hb7zxy-IndicatorsContainer {
        margin-right: 20px;
    }

    .btn-cross {
        position: absolute;
        right: 1px;
        top: 1px;
        height: calc(100% - 3px);
        border-start-end-radius: 4px;
        border-end-end-radius: 4px;

        &:focus {
            box-shadow: none !important;
            border-color: transparent !important;

        }

        .cross-light {
            opacity: 0.6;
        }
    }
}

.btn-send-for-approval {
    background-color: #e4defd;
    width: 26px;
    height: 26px;
    border-radius: 4px;

    &:focus {
        box-shadow: 0 0 5px #7959f6 !important;
        border: 1px solid #e4defd !important;
        ;
    }
}

.approve-icon {
    background-color: #DBF4E2;
    width: 26px;
    height: 26px;
    border-radius: 4px;
    margin: auto;
    margin-bottom: 5px;

    &:focus {
        box-shadow: 0 0 5px #4DC771 !important;
        border: 1px solid #DBF4E2 !important;
        ;
    }
}

.btn-history-remark {
    background-color: #cef2fb;
    width: 26px;
    height: 26px;
    padding: 0;
    border-radius: 4px;
    margin-bottom: 5px;

    &:focus {
        box-shadow: 0 0 5px #0cbeeb !important;
        border: 1px solid #bbe8f9 !important;
    }
}

.btn-reminder {
    background-color: #fdebcb;
    width: 26px;
    height: 26px;
    border-radius: 4px;
    padding-left: 4px;

    .reminder {
        position: relative;

        .count {
            position: absolute;
            top: -3px;
            right: -4px;
            background: #f8a000;
            height: 13px;
            width: 13px;
            line-height: 1.2;
            font-size: 11px;
            border-radius: 40px;
        }
    }

    &:focus {
        box-shadow: 0 0 5px #f8a000 !important;
        border: 1px solid #fdebcb !important;
    }
}

.view-icon-primary {
    color: #ffffff;
    background-color: $colorPrimary;
    height: 23px;
    width: 26px;
    border-radius: 3px;
    margin-left: 8px;
    margin-top: 10px;
    position: relative;
    @extend .fa-eye;
    @extend .fa;

    &::before {
        font-size: 11px;
        position: absolute;
        top: 5px;
        left: 5px;

    }
}