.sub-form-container {
  .text-help.mb-2 {
    position: absolute;
  }
}

.p-absolute {
  position: absolute;

  &.right-22 {
    right: 22px;
    z-index: -1;
  }

  &.bottom-22 {
    bottom: 22px;
  }

  &.bottom-7 {
    bottom: 7px;
  }
}

.rate-form-container {
  .p-absolute {
    bottom: 7px;
  }
}

.truck-load-form-container {
  .p-absolute {
    bottom: 22px;
  }

  .bottom-7 {
    bottom: 7px;
  }
}

.child-form-container {
  @extend .truck-load-form-container;

  .bottom-37 {
    bottom: 37px;
  }
}

//UOM common function class displayUOM
// .table {
//   .UOM-label-container {
//     span {
//       &:last-child {
//         position: absolute;
//         top: -5px;
//       }
//     }
//   }
// }

.action-icon-container {
  display: flex;
  align-items: center;
  grid-gap: 4px;
  margin-top: 5px;

  .user-btn {
    height: 22px !important;
    padding: 5px !important;

    &:focus {
      border: transparent !important;
      box-shadow: none !important;
    }
  }

  .plus-icon-square {
    width: 25px;
    height: 23px;

  }
}

.ag-grid-wrapper,
.ag-theme-material {
  .no-content-found {
    position: absolute;
    z-index: 1;
    bottom: 70px;
    left: 0;
    right: 0;
    margin: 0 !important;

    .my-2 {
      margin-top: 0 !important;
    }

    &.approval-listing {
      bottom: 103px;
    }

    &.bop-drawer {
      bottom: 130px;
    }

    &.drawer {
      bottom: 100px;
    }

    &.simulation-lisitng {
      bottom: 78px;
    }
  }
}

.no-content-image-container {
  min-height: 150px;

}


//ANALYTICS DRAWER SCSS FOR MASTERS COST MOVEMENT REPORT 
.analytics-drawer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;

  .ag-grid-multi {
    .form-group-searchable-select {
      min-height: unset;

      label {
        display: none;
      }
    }
  }
}

.budgeting-details {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 15px;

  .withBorder {
    min-height: auto !important;
    margin-bottom: 0 !important;

    input {
      max-width: 130px;
    }

    label {
      display: none;
    }
  }

  label {
    margin-right: 5px;
    margin-bottom: 0 !important;
  }

}

.budgeting-table {
  .ag-paging-panel {
    display: none;
  }
}

.budget-tick-btn {
  position: absolute !important;
  top: 32px;
  right: -50px;
}

.form-group.inputbox.po-series {
  margin-bottom: 0;
  min-height: auto !important;

  .text-help.mb-2 {
    position: absolute;
  }
}

.bulkupload-drawer {
  .dzu-dropzone {
    min-height: 120px;
  }
}

.fetch-btn {
  position: absolute !important;
  right: 0;
  bottom: 7px;
}

.hide-scroll {
  .select__value-container--is-multi {
    overflow: hidden !important;
  }
}

[id^="AddVendorDrawer"] {
  .select__value-container--has-value {

    .css-b8ldur-Input,
    .css-1g6gooi {
      width: 100% !important;
    }
  }
}

.vendor-drawer {
  position: relative;
  margin-bottom: 20px;

  .form-group {
    margin-bottom: 0 !important;
    min-height: auto !important;

  }

  .text-help.p-absolute.bottom-7 {
    bottom: 1px;
  }
}

div[class$="MenuList"] {
  div {
    font-size: 14px !important;
  }
}

.master-summary-drawer .button-wrapper.dropdown-mt-0 {
  margin-top: 0 !important;
}

.rm-master-form {
  min-height: calc(100vh - 232px);
}

.ag-header-row {
  height: 38px !important;
  background-color: #d4dfff47;

  .ag-grid-multi {
    height: 30px !important;

    .form-group-searchable-select {
      margin-bottom: 0 !important;

      .multi-select-container__control {
        height: 30px !important;

        .multi-select-container__value-container {
          height: 30px !important;
          overflow: auto !important;
          max-width: 100% !important;
        }
      }

      .multi-select-container__indicators {
        height: 30px !important;
      }
    }
  }

  // input {
  //   height: auto !important;
  // }

}

.truck-dimensions {
  @media (max-width: $max1367) {
    margin-right: -37px;
  }

  label {
    white-space: nowrap;
  }
}

.extra-approver {
  position: absolute;
  top: 31%;
  right: -17px;
  width: fit-content;
  color: $colorPrimary;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    cursor: pointer;
  }
}

.plant-currency {
  min-height: auto !important;

  .text-help {
    position: absolute;
    bottom: 1px;
  }
}

.cursor-allowed {
  pointer-events: auto !important;
}