@import './abstracts/_variable.scss';

/* Form input styles */
.nfr-inputs {
    display: flex;
    align-items: center;
    margin-bottom: 0 !important;

    label {
        width: fit-content;
        min-width: fit-content;
        margin-right: 5px;
    }
}

/* Table record styles */
.table-record {
    border: 1px solid $borderColor;

    .form-group,
    .form-group-searchable-select {
        margin-bottom: 0 !important;

        label {
            display: none;
        }

        /* Costing version form group */
        &.costing-version {
            margin-top: -1px;
        }

        /* Sob form group */
        &.sob {
            max-width: 65px;
        }
    }

    .custom-checkbox {
        .before-box {
            padding-left: 1px;
        }
    }
}


.defualt-input-value {
    height: 28px !important;
}

.add-nfr-tooltip {
    &::before {
        top: 5px;
    }
}

.nfr-id-wrapper {
    min-height: auto !important;
}

@media screen and (max-width: $middleDesktop) {
    .nfr-id-wrapper {
        padding: 2px 10px !important;
    }
}

.sap-rm-table {
    border-collapse: collapse;
    width: 100%;

    thead {
        border-bottom: 1px solid $agGridBorder ;

        th {
            border-top: 1px solid transparent;
            background-color: $agGridBorder;
        }
    }

    tbody {
        display: block;
        max-height: 146px;
        overflow-y: auto;
        border-top: none transparent;
        border-bottom: 1px solid transparent;

        tr:first-child {
            td {
                border-top: 1px solid transparent;
            }
        }
    }

    tr {
        display: table;
        width: 100%;
        table-layout: fixed;


    }

}

.out-sourcing-wrapper {
    display: flex;
    align-items: center;
    grid-gap: 5px;
}

.out-sourcing-table {
    .table-footer {
        .text-right {
            button {
                display: none;
            }
        }
    }
}