@import "./abstracts/_variable.scss";

.rfq-container-drawer {
    .container {
        padding-right: 0 !important;
    }

    .drawer-wrapper {
        min-width: 992px;
    }

    .part-detail-wrapper {

        .col-md-3,
        .col-md-6 {

            // padding-right: 7px;
            // padding-left: 7px;
            >div {
                margin-bottom: 0 !important;
            }
        }

        .inputbox {
            border-bottom: none;
        }

        textarea {
            min-height: 9.4rem;
        }
    }

    .overlay-contain {
        .ag-center-cols-container {
            border: 1px solid $agGridBorder;
            border-top: none;
        }
    }
}

.border-color {
    border-bottom: 1px solid $agGridBorder !important;
}

.colorWhite {
    background-color: #fff;
}

.margin-top {
    .ag-cell-wrapper {
        margin-top: 17px;
    }

    &.ag-cell-focus {
        border-color: $agGridBorder !important;
        border-bottom-color: #fff !important;
    }
}

.heading-container {
    height: 100%;
    font-size: 14px;
    margin-bottom: 0;

    >div {
        padding-left: 10px;

        span {
            font-weight: 500;
            color: $grid-font;
        }
    }
}

// .rfq-calendar {
//     .react-datepicker {
//         display: flex;
//     }
// }

.font-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-center {
    .ag-cell-label-container {
        .ag-header-cell-label {
            justify-content: center;
        }
    }
}

.rfq-listing-action {
    .ag-react-container {
        text-align: right;
        padding-right: 0 !important;
        margin-right: -0.25rem !important;
    }
}

.rfq-portal {
    .ag-row-even {
        z-index: 1;
    }
}

.rfq-calendar {
    .react-datepicker {
        display: flex;
    }
}

.chat-container {
    padding: 5px 10px;
    background-color: $primaryBackground;
    border-radius: 5px;
    margin-top: 8px;

    .sender-name {
        font-weight: 700;
        font-size: 17px;
        color: $colorPrimary;
    }

    .sender-message {
        font-size: 14px;
        max-width: 310px;
        font-weight: 400;
    }

    .sender-date {
        font-size: 11px;
        font-weight: 600;
        color: #a3a6a8;
        margin-top: 4px;

        .sender-time {
            margin-left: 8px;
        }
    }
}

.summary-table-main-row {
    td {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

    .summary-table-seperate-data {
        padding: 4px 2px;

        .defualt-input-value {
            max-width: 140px;
        }
    }
}

.loader_container.bg-none {
    background: none;
}

.visibility-container {


    .asterisk-required {
        margin-left: -19px;
        margin-top: 19px;
    }
}