:not(.login-container.signup-form){
    .simulation-history-page{
        .react-bs-table-container{
            .react-bs-table{
                margin-top: 0px;
                .react-bs-container-body{
                    min-height: calc(100vh - 376px);
                }
            }
        }
    }
    .simulation-main{
        .react-bs-table-container{
            .react-bs-table{
                .react-bs-container-body{
                    min-height: calc(100vh - 542px);
                }
            }
        }
    }
    .simulation-edit{
        .react-bs-table-container{
            .react-bs-table{
                .react-bs-container-body{
                    min-height: calc(100vh - 464px);
                }
            }
            &.verify-simulation-table{
                .react-bs-table{
                    .react-bs-container-body{
                        min-height: calc(100vh - 474px);
                    }
                }
            }
        }
    }
    .react-bs-table-container{
        .react-bs-table{
            .react-bs-container-body{
                min-height: calc(100vh - 395px);
                .react-bs-table-no-data{
                    display: inline-block;
                    width: 1580px;
                }
                .table{
                    tbody{
                        tr:last-child{
                            td{
                                border-bottom: 1px solid #C2CBE8;
                                &.react-bs-table-no-data{
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
  }
.react-bs-table-container {
    .react-bs-table{
        position: relative;
        .table-header-wrapper{
            position: relative;
            z-index: 10;
        }
    }
}
.loader_container{
    position: absolute;
    left: -1px;
    right: -1px;
    top: 0px;
    bottom: 0px;
    width: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    z-index: 10;
    background: rgba(255, 255, 255,0.9);

    .img_loader{
        max-width: 330px;
        object-fit: contain;
        max-height: calc(100% - 2em);
    }

    .loaderinner{
        display: inline-block;
        font-size: 30px;
        padding: 1em;
        position: relative;
        vertical-align: top;
        transition: 0.3s color, 0.3s border, 0.3s transform, 0.3s opacity;
        color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    [class*=loader-] {
        display: inline-block;
        width: 1em;
        height: 1em;
        color: inherit;
        vertical-align: middle;
        pointer-events: none;
    }
}
.add-page-loader{position: fixed;z-index: 15;}
.container-fluid{
    position: relative;
}

@media(max-width:1600px){
    :not(.login-container.signup-form) {
        .react-bs-table-container{
            .react-bs-table{
                .react-bs-container-body{
                    .react-bs-table-no-data{
                        display: inline-block;
                        width: 1270px;
                    }
                }
            }
        }
    }

    // firefox css start
    @-moz-document url-prefix() {
        :not(.login-container.signup-form) {
            .react-bs-table-container{
                .react-bs-table{
                    .react-bs-container-body{
                        .react-bs-table-no-data{
                            display: inline-block;
                            width: 1255px;
                        }
                    }
                }
            }
        }
    }
    // firefox css end


    .MuiDrawer-paper{:not(.login-container.signup-form) {
        .react-bs-table-container{
            .react-bs-table{
                .react-bs-container-body{
                    .react-bs-table-no-data{
                        display: table-cell;
                        width: auto;
                    }
                }
            }
        }
      }
    }

    body .approval-listing-page{
        .react-bs-table-container{
            .react-bs-table{
                .react-bs-container-body{
                    .react-bs-table-no-data{
                        width:1470px !important;
                    }
                }
            }
        }
    }

    // firefox css start
    @-moz-document url-prefix() {
        body .approval-listing-page{
            .react-bs-table-container{
                .react-bs-table{
                    .react-bs-container-body{
                        .react-bs-table-no-data{
                            width:1460px !important;
                        }
                    }
                }
            }
        }
    }
    // firefox css end
}

@media(max-width:1366px){
    .blue-box{
        .main-section{
            > .left-side-menu + .content-page{
                min-height: calc(100vh - 149px);
            }
        }
    }
    :not(.login-container.signup-form) {
        .simulation-history-page{
            .react-bs-table-container{
                .react-bs-table{
                    .react-bs-container-body{
                        min-height: calc(100vh - 295px);
                    }
                }
            }
        }

        .simulation-main{
            .react-bs-table-container{
                .react-bs-table{
                    .react-bs-container-body{
                        min-height: calc(100vh - 473px);
                    }
                }
            }
        }
        .simulation-edit{
            .react-bs-table-container{
                .react-bs-table{
                    .react-bs-container-body{
                        min-height: calc(100vh - 417px);
                    }
                }
                &.verify-simulation-table{
                    .react-bs-table{
                        .react-bs-container-body{
                            min-height: calc(100vh - 421px);
                        }
                    }
                }
            }
        }

        .react-bs-table-container{
            .react-bs-table{
                .react-bs-container-body{
                    min-height: calc(100vh - 360px);
                    .react-bs-table-no-data{
                        width: 1075px;
                    }
                }
            }
        }
        // firefox css start
        @-moz-document url-prefix() {
            .react-bs-table-container{
                .react-bs-table{
                    .react-bs-container-body{
                        .react-bs-table-no-data{
                            width: 1070px;
                        }
                    }
                }
            }
        }
        // firefox css end
      }

      .MuiDrawer-paper{:not(.login-container.signup-form) {
        .react-bs-table-container{
            .react-bs-table{
                .react-bs-container-body{
                    .react-bs-table-no-data{
                        display: table-cell;
                        width: auto;
                    }
                }
            }
        }
      }
    }
    
    body .approval-listing-page{
        .react-bs-table-container{
            .react-bs-table{
                .react-bs-container-body{
                    .react-bs-table-no-data{
                        width:1250px !important;
                    }
                }
            }
        }
    }

    // firefox css start
    @-moz-document url-prefix() {
        body .approval-listing-page{
            .react-bs-table-container{
                .react-bs-table{
                    .react-bs-container-body{
                        .react-bs-table-no-data{
                            width:1233px !important;
                        }
                    }
                }
            }
        }
    }
      
}