@import '../commonCss/cssVariable.scss';
:not(.login-container.signup-form){
    .simulation-history-page{
        .react-bs-table-container{
            .react-bs-table{
                margin-top: 0px;
                .react-bs-container-body{
                    min-height: calc(100vh - 376px);
                }
            }
        }
    }
    .simulation-main{
        .react-bs-table-container{
            .react-bs-table{
                .react-bs-container-body{
                    min-height: calc(100vh - 542px);
                }
            }
        }
    }
    .simulation-edit{
        .react-bs-table-container{
            .react-bs-table{
                .react-bs-container-body{
                    min-height: calc(100vh - 464px);
                }
            }
            &.verify-simulation-table{
                .react-bs-table{
                    .react-bs-container-body{
                        min-height: calc(100vh - 474px);
                    }
                }
            }
        }
    }
    .report-listing-page{
        .react-bs-table-container{
            .react-bs-table{
                .react-bs-container-body{
                    .react-bs-table-no-data{
                        display: inline-block;
                        width: 1580px;
                    }
                }
            }
        }
    }
    .react-bs-table-container{
        .react-bs-table{
            .react-bs-container-body{
                min-height: calc(100vh - 395px);
                .table{
                    tbody{
                        tr:last-child{
                            td{
                                border-bottom: 1px solid #C2CBE8;
                                &.react-bs-table-no-data{
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
  }
.react-bs-table-container {
    .react-bs-table{
        position: relative;
        .table-header-wrapper{
            position: relative;
            z-index: 10;
        }
    }
}
.loader_container{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    z-index: 10;
    background: rgba(255, 255, 255,0.9);

    .img_loader{
        max-width: 330px;
        object-fit: contain;
        max-height: 100%;
    }

    .loaderinner{
        display: inline-block;
        font-size: 30px;
        padding: 0em;
        position: relative;
        vertical-align: top;
        transition: 0.3s color, 0.3s border, 0.3s transform, 0.3s opacity;
        color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        max-height: 240px;
    }
    [class*=loader-] {
        display: inline-block;
        width: 1em;
        height: 1em;
        color: inherit;
        vertical-align: middle;
        pointer-events: none;
    }
}
.add-page-loader{position: fixed;z-index: 15;}
.container-fluid{
    position: relative;
}

@media(max-width:1600px){
    :not(.login-container.signup-form) {
        .react-bs-table-container{
            .react-bs-table{
                .react-bs-container-body{
                    .react-bs-table-no-data{
                        display: inline-block;
                        width: 1270px;
                    }
                }
            }
        }
        .report-listing-page .react-bs-table-container{
            .react-bs-table{
                .react-bs-container-body{
                    .react-bs-table-no-data{
                        display: inline-block;
                        width: 1270px;
                    }
                }
            }
        }
    }

    // firefox css start
    @-moz-document url-prefix() {
        :not(.login-container.signup-form) {
            .react-bs-table-container{
                .react-bs-table{
                    .react-bs-container-body{
                        .react-bs-table-no-data{
                            display: inline-block;
                            width: 1255px;
                        }
                    }
                }
            }
        }
    }
    // firefox css end


    .MuiDrawer-paper{:not(.login-container.signup-form) {
        .react-bs-table-container{
            .react-bs-table{
                .react-bs-container-body{
                    .react-bs-table-no-data{
                        display: table-cell;
                        width: auto;
                    }
                }
            }
        }
      }
    }

    body .approval-listing-page{
        .react-bs-table-container{
            .react-bs-table{
                .react-bs-container-body{
                    .react-bs-table-no-data{
                        width:1470px !important;
                    }
                }
            }
        }
    }

    // firefox css start
    @-moz-document url-prefix() {
        body .approval-listing-page{
            .react-bs-table-container{
                .react-bs-table{
                    .react-bs-container-body{
                        .react-bs-table-no-data{
                            width:1460px !important;
                        }
                    }
                }
            }
        }
    }
    // firefox css end
}

@media(max-width:1366px){
    .blue-box{
        .main-section{
            > .left-side-menu{
                min-height: calc(100vh - 160px);
            }
        }
    }
    :not(.login-container.signup-form) {
        .simulation-history-page{
            .react-bs-table-container{
                .react-bs-table{
                    .react-bs-container-body{
                        min-height: calc(100vh - 295px);
                    }
                }
            }
        }

        .simulation-main{
            .react-bs-table-container{
                .react-bs-table{
                    .react-bs-container-body{
                        min-height: calc(100vh - 473px);
                    }
                }
            }
        }
        .simulation-edit{
            .react-bs-table-container{
                .react-bs-table{
                    .react-bs-container-body{
                        min-height: calc(100vh - 417px);
                    }
                }
                &.verify-simulation-table{
                    .react-bs-table{
                        .react-bs-container-body{
                            min-height: calc(100vh - 421px);
                        }
                    }
                }
            }
        }

        .react-bs-table-container{
            .react-bs-table{
                .react-bs-container-body{
                    min-height: calc(100vh - 360px);
                    .react-bs-table-no-data{
                        width: 1075px;
                    }
                }
            }
        }
        .report-listing-page .react-bs-table-container{
            .react-bs-table{
                .react-bs-container-body{
                    min-height: calc(100vh - 360px);
                    .react-bs-table-no-data{
                        width: 1075px;
                    }
                }
            }
        }
        // firefox css start
        @-moz-document url-prefix() {
            .react-bs-table-container{
                .react-bs-table{
                    .react-bs-container-body{
                        .react-bs-table-no-data{
                            width: 1070px;
                        }
                    }
                }
            }
        }
        // firefox css end
      }

      .MuiDrawer-paper{:not(.login-container.signup-form) {
        .react-bs-table-container{
            .react-bs-table{
                .react-bs-container-body{
                    .react-bs-table-no-data{
                        display: table-cell;
                        width: auto;
                    }
                }
            }
        }
      }
    }
    
    body .approval-listing-page{
        .react-bs-table-container{
            .react-bs-table{
                .react-bs-container-body{
                    .react-bs-table-no-data{
                        width:1250px !important;
                    }
                }
            }
        }
    }

    // firefox css start
    @-moz-document url-prefix() {
        body .approval-listing-page{
            .react-bs-table-container{
                .react-bs-table{
                    .react-bs-container-body{
                        .react-bs-table-no-data{
                            width:1233px !important;
                        }
                    }
                }
            }
        }
    }
}

.costing-table {
    .loaderinner {
        max-height: 160px;
    }
}
.costing-summary-loader {
    top: 257px;
    justify-content: flex-start;
    .loaderinner {
       max-width: 190px;
       margin-top: -40px;
    }
}
.attachment-loader {
    .loaderinner {
        max-height: 160px;
    }
}
.report-costing {
    justify-content: start;
    padding-top: calc(100vh - 25rem);
    @media screen and (min-width:$middleDesktop) {
        padding-top: calc(100vh - 33rem);
    }
}
.input-loader {
    right: 1px;
    left: 1px;
    top: 1px;
    bottom: 1px;
    align-items: flex-end;
    .loaderinner {
        font-size: 30px;
        padding-right: 0;
        margin-right: -15px;
        .img_loader {
          max-width: 70px;
          user-select: none;
        }
      }
 }
.login-loader {
   .loaderinner {
      max-height: 100px;
    .img_loader { 
        margin-top: 25px;  
        max-width: 90px;
    }
   }
}
.p-relative .login-btn:focus {
   box-shadow: none !important;
}
.center-loader {
    justify-content: flex-start !important;
}
.loader-center {
    min-height: calc(100vh - 230px);
}
.simulation-loader {
    min-height: calc(100vh - 320px);
    right: -30px;
    left: -30px;
    z-index: 12;
    top: -10px;
}
//DOWNLOAD BUTTON LOADER SCSS
.download-loader {
    .loaderinner {
        max-height: 60px;
        .img_loader {
            max-width: 80px;
            max-height: 100%;
        }
    }
 }