.loading-element {
    width: 100%;
    height: 0;
    padding-bottom: 60%;
}
.container-element {
    width: 100%;
    height: 0;
    padding-bottom: 60%;
}
.map-element {
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    margin-top:2rem;
    .gm-style .gm-style-iw-c{
        border-radius: 0;
    }
}
.map-popup{
    img{
        border-radius: 50%;
        width: 45px;
        height: 45px; 
        overflow: unset;

    }
.map-popup-detail{
    padding:5px 10px;
    h6{
        margin: 0;
    }
    p{
      color: #807c7c;
    }
}

}
.detail-distance{
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 0.8rem;
    a, .distance-link{
        font-size: 0.8rem;
        color: #f6c30f;
    }
    span{
        display: none;
    }
}