.sf-mainwrapper .btn-back{font-size:1rem;padding:.2rem 1.35rem .3rem}
.asset-label{margin:0 0 0 125px;position:absolute}
.gauge-container{margin:0 auto;align-content:center;text-align:center}
.gauge{margin:16px;height:160px!important;width:160px!important}
@media (min-width:575px){
.gauge{margin:20px;height:200px!important;width:200px!important}
}
@media (min-width:768px){
.gauge{margin:25px;height:250px!important;width:250px!important}
}
@media (min-width:992px){
.gauge{margin:30px;height:300px!important;width:300px!important}
}
@media (min-width:1200px){
.gauge{margin:35px;height:350px!important;width:350px!important}
}
@media (max-width:767px){
.sf-mainwrapper .sf-organisation{padding:1rem}
.sf-mainwrapper .sf-siteinfohead{margin-bottom:1.5rem}
.container{min-height:400px}
.organisation-thumb{width:80px;height:80px}
.sf-siteinfohead .organisation-thumb span,.sf-siteinfohead .organisation-thumb span img{height:80px}
.sf-siteinfohead .organisation-thumb span img{width:23px}
.sf-siteinfohead .image-edit-parent{margin-right:7px}
.sf-mainwrapper .container-header{font-size:1.575rem}
.sf-switchbtn input[type=checkbox].ios-switch+div{height:40px}
.sf-switchbtn input[type=checkbox].ios-switch+div>div{width:26px;height:26px}
.sf-switchbtn input[type=checkbox].bigswitch.ios-switch:checked+div>div{-webkit-transform:translate3d(47px,0,0);-moz-transform:translate3d(47px,0,0);transform:translate3d(47px,0,0)}
.sf-mainwrapper .sf-graycontainer{padding:.5rem}
}
@media (max-width:575px){
.sf-switchbtn .sf-cstmlabel{display:inline-block!important;vertical-align:top;margin:7px 15px 0 6px}
.sf-siteinfohead .sf-cstmswitchbtn{margin-top:15px;text-align:center;width:100%}
}