.card-header{padding:.75rem 1.25rem;margin-bottom:0;background-color:transparent!important;border-bottom:none!important;}
/* .card-header{padding:.75rem 1.25rem;margin-bottom:0;background-color:transparent!important;border-bottom:none!important;}
.card-footer{padding:.75rem 1.25rem;background-color:transparent!important;border-top:none!important;}
.links a{margin-left:4px;text-decoration:none;}
.links{color:white;}
.input-group label{color:#86929F;font-size:1.35rem;}
.forgot-container{padding-top:4%;}
.forgot-container .card-footer a{color:#fff;}
.forgot-container  .card-body{padding:40px 20px 25px }
.forgot-container .logo{margin-bottom:15px!important;}
.forgot-container .links{ max-width: 350px; margin: 0 auto; text-align: center} */
