/*Add 21-02-2019*/

.card {
  margin-top: 3em;
  margin-bottom: 15em;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.card-header h3,
.input-group-text {
  color: white;
}

.input-group-prepend span {
  border: 0 !important;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.remember {
  color: white;
  input {
    margin-left: 15px;
    margin-right: 5px;
    border: solid 1px #2c3138;
    background-color: #fff;
    vertical-align: bottom;
    border-spacing: 5px;
  }
}

.login-logo {
  img {
    width: 160px;
    height: 92px;
    max-width: 100%;
    height: auto;
  }
  text-align: center;
  margin-bottom: 20px;
}

.login-container {
  color: #73818e;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding-top: 105px;
  padding-bottom: 80px;
  .card {
    margin-top: 15px;
    width: 100%;
    background-color: transparent !important;
  }
}

.card-body {
  background-color: #fff;
  min-height: 296px;
  border-radius: 0px;
  padding: 25px 20px;
  -webkit-box-shadow: 0px 0px 20px 10px rgba(106, 151, 219, 0.1);
  -moz-box-shadow: 0px 0px 20px 10px rgba(106, 151, 219, 0.1);
  box-shadow: 0px 0px 20px 10px rgba(106, 151, 219, 0.1);
}

.login-main-block.reset-container .card-body,
.login-container.forgot-container .card-body {
  min-height: 190px;
  position: relative;
}

.login-main-block.reset-container .card-body {
  min-height: 253px;
}

.login-container {
  .form-control {
    border: none;
  }
  .input-form-group {
    label,
    .form-control {
      font-size: 1rem;
    }
  }
  .card-body,
  .card-header {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    border-radius: 15px;
  }
}

/* Role box style */

.login-form {
  width: 100%;
  padding-top: 100px;
  height: 550px;
  .inputbox.input-group {
  .form-control { height: 48px;border-color: #C2CBE8;padding-left: 40px!important;
  }
    &::before{
      // content: url(../../assests/images/email.png);
      position: absolute;
      left: 11px;
      top: 13px;
      z-index: 10;
    }
  }
  .input-group.mail  .inputbox.input-group {
    &::before{
    content: url(../../assests/images/email.png);}

  }
  .input-group.phone  .inputbox.input-group {
    &::before{
    content: url(../../assests/images/password.png);}
    
  }
  .input-group  {label{display: none}}
  .form{ margin-top: 48px;}
}
.customs-checkbox {
  position: relative;
  padding-left: 25px;
  padding-top: 3px;
  input[type="checkbox"] {
    opacity: 0;
  }
  .before-box:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 2px solid #6c6666;
    top: 6px;
    left: 0;
  }
  input[type="checkbox"]:checked + .before-box:before {
    content: "\2713";
    font-size: 12px;
    text-align: center;
    color: #fff;
    line-height: 16px;
    font-weight: 600;
    background: #ccc;
  }
}
.custom-checkbox .before-box {
  padding-left: 24px;
  font-size: 1rem;
}
.forgot-link {
  display: flex;
  justify-content: space-between;
  a {
    font-size: 1rem;
    margin-top: 0;
    &:hover {
      color: #f6c413;
    }
  }
}
.form-heading {
  margin-bottom: 23px;
  position: relative;
}
.login-btn {
  font-size: 14px;
  padding: 10px 15px;
  margin-top: 10px;
  min-width: 150px;
}
.inputbox.input-group .form-control {
  padding: 0;
}
span.input-group-text.bg-white {
  padding: 0;
}
.small-screen {
  height: calc(100vh - 265px);
}
.login-bg{background-image: url(../../assests/images/bgnew.png);background-size: 100% 100%;height:100vh;}
.login-box {background-image: url(../../assests/images/box.png);}
.form-section {
  background-color: #fff;;
    padding: 0 71px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px 0 0 8px; 
   img{
     width: 78%;
     padding: 15px;
   }
 h3{
  font-size: 20px;
  padding: 15px 0;
  color: #3D4465;
  font-weight: 500;
 }
 p{
  font-size: 14px;
  color: #8A91AC;
 }
 .inputbox {
  border-bottom:none;
 }
 label.btn.btn-link.align-middle.checkbox-label { margin:0; padding: 0; font-size: 12px;margin-bottom: 0 !important;
  padding-left: 5px;color: #3D4465;}
 .forgotpwd-field { font-size: 12px;}
 .asterisk-required {
  display: none;
}
.input-group-prepend{display: none;}
label{margin-bottom: 0;}
.form-group {
  margin-bottom: 0.5rem;
}
.text-help{
  height: auto;
}
}
// =================costing summary table page=========================
.costing-summary-table{position: relative;font-size: 14px;color: #3D4465;min-width: 980px;}
.custom-check input {padding: 0;height: initial;width: initial;margin-bottom: 0;display: none;cursor: pointer;}
.custom-check label {position: relative;cursor: pointer;color: #3D4465;}
.custom-check label:before {content:'';-webkit-appearance: none;background-color: transparent;border: 2px solid #e6e6e6;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);padding: 8px;display: inline-block;position: relative;vertical-align: middle;cursor: pointer;margin-right: 5px;border-radius: 4px;}
.custom-check input:checked + label:before{background-color: #4DC771;border-color: transparent;border-radius: 4px;}
.custom-check input:checked + label:after {content: '';display: block;position: absolute;top: 4px;left: 7px;width: 6px;height: 12px;border: solid #fff;border-width: 0 2px 2px 0;transform: rotate(45deg);}
.small-grey-text{font-size: 13px;color:#8A91AC;}
.small-square-btn{background-color: #f8a00033;color: #F8A000;padding: 0px;width: 25px;height: 25px;margin-right: 4px;font-size: 13px;}
.background-light-blue{background: #E7F2FC;}
.background-light-blue th,.background-light-blue td{background: #E7F2FC;}
.file-btn{background-color: #7959f633;color: #7959F6;}
.remove-btn{background-color: #fc577433;color: #FC5774;}
.eye-btn{background-color: #0cbce933;color: #0CBEEB;}
.costing-summary-table tr td span{padding: 5px 0;}
.costing-summary-table tr td .bg-grey,.bg-grey{background: #E2E2E2;border-radius: 4px;padding: 10px;height: auto;}
.text-primary{color: #256BD1 !important;}
.text-small{font-size: 14px;;}
.drawer-wrapper.drawer-md {width: 767px;}
.MuiDrawer-root.MuiDrawer-modal .MuiBackdrop-root, .MuiDrawer-root.MuiDrawer-modal .MuiDrawer-paper{max-height: calc(100vh - 47px);}
body .icon-small-primary{width: 25px;height: 25px;display: inline-block;background-color: #256BD1;    font-family: FontAwesome !important;color: #fff !important;border-radius: 3px;text-align: center;line-height: 25px;margin-top: 6px;}
// =================costing summary table page=========================


.right-sideimg{
img
{width: 100%;
  height: 100%;}}
@media screen and (max-width: 767px) {
  .login-container {
    margin: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .login-form {
    padding: 15px;
  }
  .signup-form {
    padding-top: 25px;
    padding-bottom: 0;
  }
  .small-screen {
    height: inherit;
  }

  .drawer-wrapper.drawer-md {width: 100%;}
}
@media screen and (max-width: 575px) {
  .logo {
    text-align: center;
    margin-bottom: 10px;
  }
  .login-container .logo {
    img {
      max-width: 100%;
    }
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .navbar-toggler-icon .fas {
    color: #fff;
  }
  .nav-link {
    display: block;
    padding: 4px 1rem;
  }
  .logout-link {
    margin-top: 9px;
  }
  .login-container .d-flex.justify-content-center {
    margin: 0 15px;
    .d-flex.justify-content-center {
      margin: 0;
    }
  }
}
