/*Add 21-02-2019*/

.card {
  margin-top: 3em;
  margin-bottom: 15em;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.card-header h3,
.input-group-text {
  color: white;
}

.input-group-prepend span {
  border: 0 !important;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.remember {
  color: white;

  input {
    margin-left: 15px;
    margin-right: 5px;
    border: solid 1px #2c3138;
    background-color: #fff;
    vertical-align: bottom;
    border-spacing: 5px;
  }
}

.login-logo {
  img {
    width: 160px;
    height: 92px;
    max-width: 100%;
    height: auto;
  }

  text-align: center;
  margin-bottom: 20px;
}

.login-container {
  color: #73818e;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding-top: 105px;
  padding-bottom: 80px;

  .card {
    margin-top: 15px;
    width: 100%;
    background-color: transparent !important;
  }
}

.card-body {
  background-color: #fff;
  min-height: 296px;
  border-radius: 0px;
  padding: 25px 20px;
  -webkit-box-shadow: 0px 0px 20px 10px rgba(106, 151, 219, 0.1);
  -moz-box-shadow: 0px 0px 20px 10px rgba(106, 151, 219, 0.1);
  box-shadow: 0px 0px 20px 10px rgba(106, 151, 219, 0.1);
}

.login-main-block.reset-container .card-body,
.login-container.forgot-container .card-body {
  min-height: 190px;
  position: relative;
}

.login-main-block.reset-container .card-body {
  min-height: 253px;
}

.login-container {
  .form-control {
    border: none;
  }

  .input-form-group {

    label,
    .form-control {
      font-size: 1rem;
    }
  }

  .card-body,
  .card-header {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    border-radius: 15px;
  }
}

/* Role box style */

.login-form {
  width: 100%;
  padding-top: 100px;
  height: 640px;

  .inputbox.input-group {
    .form-control {
      height: 40px;
      border-color: #C2CBE8;
      padding-left: 40px !important;
    }

    &::before {
      // content: url(../../assests/images/email.png);
      position: absolute;
      left: 11px;
      top: 10px;
      z-index: 10;
    }

    @-moz-document url-prefix() {
      &::before {
        top: 9px;
      }
    }
  }

  .input-group.mail .inputbox.input-group {
    &::before {
      content: url(../../assests/images/user-login.png);
    }

  }

  .input-group.phone .inputbox.input-group {
    &::before {
      content: url(../../assests/images/password.png);
    }

  }

  .input-group {
    label {
      display: none
    }
  }

  .form {
    margin-top: 15px;
  }
}

.customs-checkbox {
  position: relative;
  padding-left: 25px;
  padding-top: 3px;

  input[type="checkbox"] {
    opacity: 0;
  }

  .before-box:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 2px solid #6c6666;
    top: 6px;
    left: 0;
  }

  input[type="checkbox"]:checked+.before-box:before {
    content: "\2713";
    font-size: 12px;
    text-align: center;
    color: #fff;
    line-height: 16px;
    font-weight: 600;
    background: #ccc;
  }
}

.custom-checkbox .before-box {
  padding-left: 24px;
  font-size: 1rem;
}

.forgot-link {
  display: flex;
  justify-content: space-between;

  span {
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 0 !important;
    padding: 0 !important;
  }
}


.form-heading {
  margin-bottom: 23px;
  position: relative;
}

.login-btn {
  font-size: 14px;
  padding: 10px 15px;
  margin-top: 10px;
  min-width: 150px;
}

.inputbox.input-group .form-control {
  padding: 0;
}

span.input-group-text.bg-white {
  padding: 0;
}

.small-screen {
  height: calc(100vh - 265px);
}

.login-bg {
  background-image: url(../../assests/images/bgnew.png);
  background-size: 100% 100%;
  height: 100vh;
}

.login-box {
  background-image: url(../../assests/images/box.png);
}

.form-section {
  background-color: #fff;
  ;
  padding: 50px 71px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px 0 0 8px;

  .bottomlogo_con {
    text-align: center;

    span {
      display: block;
      position: relative;
      font-weight: 500;
      font-size: 15px;
      color: #233a70;
      margin-top: 25px;
    }

    .logo-second {
      object-fit: contain;
      margin-bottom: 0px;
      padding: 0px;
      max-width: 190px;
    }
  }

  img {
    width: 100%;
    padding: 0px;
    margin-bottom: 15px;
    max-height: 130px;
    object-fit: contain
  }

  h3 {
    font-size: 20px;
    padding: 15px 0;
    color: #3D4465;
    font-weight: 500;
  }

  p {
    font-size: 14px;
    color: #8A91AC;
  }

  .inputbox {
    border-bottom: none;
  }

  label.btn.btn-link.align-middle.checkbox-label {
    margin: 0;
    padding: 0;
    font-size: 12px;
    margin-bottom: 0 !important;
    padding-left: 5px;
    color: #3D4465;
  }

  .forgotpwd-field {
    font-size: 12px;
  }

  a:not([href]):not([tabindex]).forgotpwd-field {
    color: #256bd1;
  }

  .asterisk-required {
    display: none;
  }

  .input-group-prepend {
    display: none;
  }

  label {
    margin-bottom: 0;
  }

  .form-group {
    margin-bottom: 0.5rem;
  }

  .text-help {
    height: auto;
  }
}




.right-sideimg {
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #eff4fb;
    object-position: bottom;
  }
}

@media(max-width:1366px) {
  .login-btn {
    margin-top: calc(10px * 80 / 100);
  }

  .container {
    max-width: 1024px;
  }

  .form-section {
    padding: calc(50px * 80 / 100) calc(70px * 80 / 100);

    .bottomlogo_con {
      span {
        font-size: calc(15px * 80 / 100);
        margin-top: calc(25px * 80 / 100);
      }

      .logo-second {
        max-width: calc(190px * 80 / 100);
      }
    }

    img {
      margin-bottom: calc(15px * 80 / 100);
      max-height: calc(70px * 80 / 100);
      max-width: 260px;
    }

    h3 {
      font-size: calc(20px * 80 / 100);
      padding: calc(10px * 80 / 100) 0;
    }

    p {
      font-size: calc(14px * 80 / 100);
      color: #8A91AC;
    }
  }

  .login-form {
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .login-container {
    margin: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .login-form {
    padding: 15px;
  }

  .signup-form {
    padding-top: 25px;
    padding-bottom: 0;
  }

  .small-screen {
    height: inherit;
  }

  .drawer-wrapper.drawer-md {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .logo {
    text-align: center;
    margin-bottom: 10px;
  }

  .login-container .logo {
    img {
      max-width: 100%;
    }

    margin-top: 30px;
    margin-bottom: 40px;
  }

  .navbar-toggler-icon .fas {
    color: #fff;
  }

  .nav-link {
    display: block;
    padding: 4px 1rem;
  }

  .logout-link {
    margin-top: 9px;
  }

  .login-container .d-flex.justify-content-center {
    margin: 0 15px;

    .d-flex.justify-content-center {
      margin: 0;
    }
  }
}

.reset-wrapper {
  .navbar {
    padding: 5px 30px;
  }

  .reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 10px);

    .inner-container {
      background-color: #fff;
      min-width: 650px;
      padding: 50px;
      -webkit-box-shadow: 0px 0px 20px 10px rgba(106, 151, 219, 0.1);
      -moz-box-shadow: 0px 0px 20px 10px rgba(106, 151, 219, 0.1);
      box-shadow: 0px 0px 20px 10px rgba(106, 151, 219, 0.1);
      border-radius: 5px;

      .form-group {
        width: 100%;

        input[type="password"] {
          border: none !important;
        }

        .text-help {
          position: absolute;
        }
      }
    }
  }
}

.user-border-left {
  border-left: 1px solid #c2cbe8;
}


.forget-wrapper {
  font-size: 14px;

  .userNotFound,
  .mail-sent {
    font-size: 14px;
    margin-top: 10px;
  }

  .mail-sent {
    color: #4DC771;
    text-align: center;

    img {
      width: 19px;
      height: 19px;
      margin-bottom: 0;
      margin-right: 3px;
    }
  }
}

#backToLogin {
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 0 !important;
  padding: 0 !important;
  margin-top: 5px;
}

.microsot-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #d3d3d3;
  font-size: 15px;

  &:hover {
    background-color: #edededb5;
  }
}