.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .tab-content{
  padding:10px 9px;
  background:#EAEBEE;
  border-radius: 5px;
} */

ul.tab {
  margin: 0;
  padding: 0;
  border-bottom: none;
}
ul.tab li {
  width: 50%;
}
.tab-item {
  display: block;
  font-size: 18px;
  color: #333;
  background-color: #fff;
  width: 100%;
  line-height: 39px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  border-bottom: transparent 3px solid;
  padding: 0px;
  border-radius: 0px;
}
.tab-item.active {
  color: #007bff;
  border-bottom: #007bff 3px solid;
}
.tab-item .fas {
  margin-right: 8px;
}
.tab-item:hover {
  text-decoration: none;
}

.list-group-item {
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 7px !important;
}

.list-title {
  font-size: 20px;
  font-weight: 600;
}

.input-search-left {
  border-radius: 0px;
}

.search-close {
  border-radius: 0px;
  margin: -0px -0px !important;
}

.search-append {
  margin-left: 0px;
}

.map-thumb {
  width: 120px;
}

@media (max-width: 767px) {
  .map-thumb {
    width: 100px;
  }
  .list-title {
    font-size: 18px;
  }
  .col,
  .col-auto {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 574px) {
  .map-thumb {
    width: 50px;
    margin-top: 7px;
  }
  .list-title {
    font-size: 16px;
  }
}

.supplierRadio {
  margin-left: 5px;
}
