@import "../commonCss/cssVariable.scss";
@import "../commonCss/global.scss";

.left-side-menu {
    width: 240px;
    bottom: 0;
    padding: 0;
    position: fixed;
    transition: all 0.1s ease-out;
    top: 139px;
    border: #ff6600 1px solid;
    .h-100 {
        height: 100%;
    }
    .menuitem-active {
        position: relative;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        background-color: $colorPrimary;
        padding: 10px 0 0 10px;
    }
    .metismenu {
        background-color: $colorPrimary;
        font-size: $font-15;
        font-family: "Roboto", sans-serif !important;
        .metismenu-item {
            .metismenu-link {
                color: $white;
                text-shadow: 0 0px 0 rgba(0, 0, 0, 0.5);
                -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
                transition: height 0.3s, color 0.3s, background-color 0.3s;
                padding: 7px;
                border-radius: 9px 0 0 9px;
                I.metismenu-icon {
                    display: none;
                }
                &:hover {
                    background: $white;
                    color: $colorPrimary !important;
                }
            }
            ul {
                li {
                    a.metismenu-link {
                        padding: 0;
                        padding-left: 40px;
                        position: $positio-relative;
                        font-size: $font-13;
                        &::after {
                            content: "\f192";
                            font-family: "Fontawesome";
                            position: absolute;
                            left: 15px;
                        }
                    }
                    &:hover {
                        background: transparent;
                        color: #ccc !important;
                    }
                }
            }
        }

        &::after {
            display: none;
        }
    }
}
