@import "../commonCss/cssVariable.scss";
@import "../commonCss/global.scss";

.left-side-menu {
	width: 205px;
	bottom: 0;
	padding: 0;
	position: fixed;
	transition: all 0.1s ease-out;
	top: 139px;
	.menuitem-active {
		position: relative;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
		background-color: $colorPrimary;
		padding: 10px 0 0 6px;
	}

	.h-100 {
		height: 100%;
	}
	ul {
		li {
			padding: 9px 8px;
			border-radius: 10px 0px 0px 10px;
			a {
				padding: 0;
				position: $positio-relative;
				color: $white;
				display: block;
				font-size: $font-15;
				&::after {
					content: "\f067";
					font: normal normal normal 14px/1 FontAwesome !important;
					position: absolute;
					right: 4px;
					top: 3px;
				}
			}
			&:hover {
				background-color: $white;
				a {
					color: $colorPrimary !important;
				}
			}
			&.active{
				background-color: $white;
				a {
					color: $colorPrimary !important;
				}
			}
		}
	}
}
