@import "../commonCss/cssVariable.scss";

.flex-conatiner {
  display: flex;
}

ul.ml-auto.nav {
  align-items: center;
}

.top-menu {
  .nav-item {
    position: relative;

    .nav-link {
      background-color: #c62127;
      color: $white;
      padding-top: 5px;
      padding-bottom: 5px;
      text-transform: capitalize;

      &:hover {
        background-color: #a51417;
        transition: 0.3s;
      }
    }

    &:first-child .nav-link {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:nth-child(2) .nav-link {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.top-menu .nav-item a.nav-link.active {
  background-color: #a51417;
  transition: 0.3s;
}

.top-menu li:first-child:after {
  content: "";
  position: absolute;
  bottom: 9px;
  right: 0;
  background-color: $white;
  width: 1px;
  height: 16px;
}

ul.menu-list {
  justify-content: flex-end;

  li {
    a {
      color: $white;

      &:hover {
        color: $text-hover;
        transition: 0.3s;
      }

      @media (max-width: 991px) {
        padding: 0.8rem 0.5rem;
        font-size: 0.9rem;
      }
    }

    &:last-child {
      a {
        padding-right: 0;
      }
    }
  }
}

li.nav-item .logo {
  width: 60%;

  img {
    width: 100%;
  }
}

.social_icon {
  margin-left: 20px;

  a {
    padding: 0 5px;

    img {
      width: 30px;
      border-radius: 50%;

      &:hover {
        box-shadow: 0px 0px 7px 1px rgba(246, 196, 19, 0.65);
        transition: 0.3s;
      }
    }
  }
}

.menu-list .dropdown-menu {
  padding: 0;
  background: rgba(0, 0, 0, 0.57);
  border-radius: 0;
  margin-top: 11px;

  &::before {
    content: "";
    height: 20px;
    width: 100%;
    background-color: transparent;
    top: -16px;
    position: absolute;
  }

  .dropdown-item {
    color: #fff;

    &:hover {
      color: #f6c413;
      background-color: rgba(36, 36, 36, 0.8);
    }
  }
}

.menu-bottom-list {
  padding: 0.5rem 0;
  margin-top: 10px;
}

.header-menu {
  position: relative;
}

.logo-section {
  position: relative;
  z-index: 9;
}

.sf-mainheader {
  .navbar {
    background-color: #fff !important;
    padding: 0.1rem 2rem;
    border-bottom: 1px solid rgba(180, 197, 226, 0.51);

    .nav-link {
      display: block;
      padding: 4px 0.55rem 0 0.55rem;
    }
  }

  .nav-scroller {
    position: fixed;
    z-index: 2;
    /* height: 2.75rem; */
    overflow-y: hidden;
    margin-top: 45px;
    border-top: #ccc 1px dashed;
    background: $white !important;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.075) !important;
     
    // line-height: 32px; 
    padding: 0px 2rem;
    nav{
      align-items: center;
      height: 50px; 
    }

    a {
      text-align: left;
      font-size: 1rem;
      letter-spacing: 0px;
      color: #3d4465;
      font-weight: 400;
      opacity: 1;
      margin-right: 25px;
      &:hover, &:active{
        span{ color:#256BD1}
      }
      img,
      span {
        display: inline-block;
        vertical-align: middle;
      }

      img {
        margin-right: 12px;
        height: 19px;
      }

      &:first-child {
        padding-left: 0;
      }
    }

    .additional-masters {
      img {
        height: 20px;
      }
    }
  }

  .navbar-nav {
    li {
      align-self: center;

      a {
        .fa {
          color: #959cb6;
        }
      }
    }

    .nav-item {
      &.dropdown {
        .navbar-dropdown {
          font-size: 0.9rem;
          margin-top: 15px;
          position: absolute;
          right: 0;
          left: auto;
          border: 1px solid rgba(182, 182, 182, 0.1);
          padding: 0 0 20px;
          min-width: 100%;
          border-radius: 2px;
          -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
          overflow-x: hidden;
          max-height: 350px;
          overflow-y: auto;
          overflow: hidden;

          .dropdown-item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-bottom: 0;
            padding: 5px 25px;

            .ellipsis {
              max-width: 200px;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .small-text {
              font-size: 0.75rem;
            }
          }

          .badge {
            margin-left: 0.5rem;
          }
        }
      }
    }
  }

  .preview-list {
    .preview-item {
      .preview-thumbnail {
        color: #ffffff;
        position: relative;

        img {
          border-radius: 100%;

          &.img-sm {
            width: 43px;
            min-width: 43px;
            height: 43px;
          }
        }
      }

      .preview-item-content {
        line-height: 1;
        padding-left: 1.5rem;
        color: #212529;
      }
    }
  }

  .count {
    position: absolute;
    left: 50%;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background: #ff0017;
    color: #ffffff;
    font-size: 10px;
    top: -3px;
    font-weight: 400;
    line-height: 1rem;
    border: none;
    text-align: center;
  }

  .bell {
    &:after {
      display: none !important;
    }
  }

  .img-xs {
    width: 30px;
    min-width: 30px;
    height: 30px;
    margin-right: 8px;

    &::after {
      content: '';
      border-left: 1px solid #ccc;
    }
  }

  .nav-link-user {
    span {
      text-align: left;
      letter-spacing: 0px;
      color: #8a91ac;
      opacity: 1;
      font-size: 14px;
      font-weight: 300;
    }

    button {
      text-align: left;
      letter-spacing: 0px;
      color: #8a91ac;
      opacity: 1;
      font-size: 14px;
      border-radius: 0;
      font-weight: 300;
      padding-right: 0;
      background: $white !important;
      border: $white 1px solid !important;
      box-shadow: none;
      height: 43px;

      &:hover,
      &:focus,
      &:active,
      .btn-secondary:not(:disabled):not(.disabled):active:focus {
        background: $white;
        border: $white 1px solid;
        color: #8a91ac;
        box-shadow: none !important;
      }
    }

    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 25px;
      background-color: #d9e2f0;
      left: 0;
      top: 9px;
    }
  }
}

.main-menu {
  .logout {
    .dropdown-menu {
      padding: 0;
      background-color: #f5f5f5;
      border-color: 1px solid rgba(0, 0, 0, .15);
      box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
      top: 10px !important;
      z-index: 10025;

      .dropdown-item {
        color: $colorPrimary;
        cursor: pointer;
        font-size: 0.9rem;
        padding: 7px 15px;
        border-bottom: 1px solid #333;

        &:hover,
        &:focus {
          color: $white !important;
          background-color: rgba(61, 68, 101, 0.9);
        }
      }
    }
  }
}

.navbar-toggler {
  display: none;
}

.userImg-header {
  display: flex;
  align-items: center;
  padding: 0;

  .img-only {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    max-height: 50px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 42px;
      width: 100%;
    }
  }

  span {
    color: #fff;
  }

  &::after {
    content: "\e90e";
    position: relative;
    top: 1px;
    font-family: "icomoon" !important;
    border: none;
    font-size: 0.8rem;
    right: -2px;
    color: #fff;
  }
}

.menu-bottom-list {
  .dropdown-toggle {
    &::after {
      content: "\e90e";
      position: relative;
      top: 5px;
      font-family: "icomoon" !important;
      border: none;
      font-size: 0.7rem;
      right: -2px;
    }
  }
}

.before-login {
  margin-top: 7px;
}

ul.ml-auto.top-menu.logout.nav {
  justify-content: flex-end;
}

.bell-notifcation-icon {
  position: relative;
  margin-right: 22px;
  margin-top: 7px;

  .icon-notification {
    font-size: 1.8rem;

    &::before {
      color: #f6c413;
    }
  }

  .badge-danger {
    width: 24px;
    height: 24px;
    padding: 0;
    font-size: 0.6rem;
    position: absolute;
    top: -7px;
    right: -8px;
    font-weight: 500;
    border: 1px solid red;
    border-radius: 50px;
    display: block;

    line-height: 22px;
  }
}

.message-badge-count {
  position: absolute;
  top: -2px;
  right: 10px;
}

@media (min-width: 768px) {
  .menu-list {
    .dropdown {
      &:hover {
        .dropdown-menu {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 1192px) {
  .main-logo {
    width: 39%;
  }

  ul.menu-list {
    li {
      a {
        font-size: 0.9rem;
      }
    }
  }
}

@media (max-width: 991px) {
  ul.menu-list li:last-child a {
    padding-right: 0;
  }

  .menu-bottom-list {
    .dropdown-menu {
      left: auto;
    }
  }
}

/* media query */
@media (max-width: 767px) {
  .navbar-toggler {
    display: block;
  }

  .top-menu .nav-item .nav-link {
    padding: 2px 10px;
  }

  .logo-section .main-logo {
    width: auto;
    max-width: 100px;
  }

  .ml-auto.menu-list {
    flex-direction: column;
  }

  .logomain-logo {
    width: 130px;
  }

  .menu-bottom-list {
    position: absolute;
    background: #000;
    width: 100%;
    right: 0;
    top: 105px;
    z-index: 9999;
    padding: 0;
    margin: 0;

    button.navbar-light.navbar-toggler {
      margin-top: 10px;
    }
  }

  .sf-mainheader {
    align-items: center;
  }

  .navbar-toggler {
    background: #f6c413;
    padding: 0;
    border-radius: 6px;
    width: 38px;
    height: 36px;
  }

  .sf-mainheader {
    min-height: 120px;
    padding: 15px 0;
    height: 129px;
  }

  .social_icon {
    float: left;
    display: block;
    padding-right: 10px;
    padding-top: 8px;

    .social_icon a {
      float: left;
      padding-right: 10px;
      margin-top: 5px;
      margin-left: 0;
    }
  }

  .menu-list {
    li {
      border-top: 1px solid rgba(255, 255, 255, 0.48);
      width: 100%;
      text-align: left;
      padding-left: 10px;

      &:first-child {
        border-top: none;
      }
    }
  }

  .top-menu li:first-child:after {
    bottom: 5px;
  }

  .flex-conatiner.sign-social {
    display: block;
    float: right;
  }

  .logo-section {
    position: static;
    float: left;
  }

  ul.ml-auto.top-menu.nav {
    justify-content: flex-end;
    padding-bottom: 10px;
  }

  ul.ml-auto.top-menu.logout.nav {
    .userImg-header {
      display: flex;
      padding: 4px 0;
      font-size: 0.9rem;
    }

    .navbar-toggler {
      float: right;
    }
  }

  .ss-menu {
    align-items: center;

    .col-md-10.col-8 {
      position: static;
    }
  }

  ul.ml-auto.top-menu.logout.nav {
    padding-bottom: 0;

    .dropdown {
      padding-right: 15px;
    }
  }

  .menu-list {
    .dropdown-menu {
      .dropdown-item {
        padding: 0.4rem 0.5rem;
      }
    }

    li {
      padding-bottom: 10px;
    }
  }

  ul.ml-auto.top-menu.logout.nav {
    padding-bottom: 0;

    .dropdown {
      padding-right: 15px;

      .userImg-header .img-only {
        width: 29px;
        height: 29px;
      }
    }
  }

  .bell-notifcation-icon {
    .icon-notification {
      font-size: 1.5rem;
    }
  }

  .bell-notifcation-icon {
    margin-right: 13px;
  }

  .bell-notifcation-icon .badge-danger {
    width: 20px;
    height: 20px;
  }
}

// .main-menu{
//   ul.ml-auto.top-menu.logout.nav{
//     .dropdown{
//       padding-right: 0;
//     }
//   }
// }
@media (max-width: 360px) {
  .userImg-header {
    span {
      max-width: 81px;
    }
  }
}

.top-margin.container {
  overflow: scroll;
}

.float-left {
  float: left !important;
  width: 30%;
}

input#remember {
  float: left;
  margin-top: 12px !important;
}

label.btn.btn-link.align-middle.checkbox-label {
  float: left;
  width: 90%;
  text-align: left;
}

.forgot-link a {
  font-size: 1rem;
  margin-top: 8px;
}